/*
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */


/* Import of variables created for site */
@import 'globals/variable';
@import 'globals/header';
@import 'globals/footer';
@import 'components/fonts';
@import 'layout/forms';


#edit-field-image-und--2,
edit-field-image-und--2 {
  display: table-cell;
  width: 100%;
}

/* common css */
body {
  font-family: $opensans-regular;
  outline: none;
}
a {
  outline: none;
  &:focus {
    outline: none;
  }
}
.btn {
  &:focus {
    outline: none;
  }
}
.view-empty {
  margin: 15px 0;
  color: $black;
}


/**
 *  Content section of home page
 */

.container {
  /*min-height: 300px;*/
  .jumbotron {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}
.featured-listing {
  h2 {
    margin: 0 0 10px;
    padding: 10px 0 10px 20px;
    background-color: $light-black;
    color: $white;
    font-size: 15px;
    font-family: $opensans-bold;
    text-transform: capitalize;
  }
}
.view-header {
  .page-title-all-listing {
    padding: 9px 0 9px 20px;
    background-color: $light-black;
    color: $white;
    font-size: 15px;
    font-family: $opensans-bold;
    text-transform: capitalize;
  }
}
.page-header {
  display: none;
}
.views-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $light;
  box-shadow: 0 2px 0 $light;
  .main-sub-top {
    display: inline-block;
    width: 100%;
    padding: 10px;
    .main-sub-right-top-title {
      display: inline-block;
      line-height: 0;
      label[for=title] {
        color: $light-black;
        font-size: 15px;
        font-weight: normal;
        font-family: $opensans-bold;
      }
      a {
        color: $black;
        font-size: 17px;
        font-family: $opensans-bold;
        text-decoration: none;
      }
    }
    .main-sub-right-top {
      display: inline-block;
      width: calc(100% - 160px);
      padding-bottom: 4px;
      border-bottom: 1px solid $gray;
      .main-sub-right-top-save {
        float: right;
        margin-bottom: 1px;
        text-transform: uppercase;
        a {
          float: right;
          padding: 2px 10px;
          border: 1px solid $gray-85;
          color: $blue;
          font-size: 13px;
          font-family: $opensans-bold;
          text-decoration: none;
          &:hover {
            color: $light-gray;
          }
        }
      }
    }
    img {
      float: left;
      min-height: 50px;
      margin: 5px 15px 0 0;
    }
    .main-sub-top {
      padding: 10px;
    }
    .main-sub-right-bottom-left {
      display: inline-block;
      width: calc(100% - 380px);
      margin-top: 4px;
      font-size: 10px;
      font-family: $opensans-semibold;
      > div,
      label {
        margin-bottom: 0;
        font-weight: normal;
      }
      .category {
        color: $black;
        font-size: 11px;
        font-family: $opensans-extrabold;
        text-decoration: none;
      }
    }
    .main-sub-right-bottom-right {
      float: right;
      margin: 4px 60px 0 0;
      color: $light-gray;
      font-size: 10px;
      font-family: $opensans-semibold;
      label[for=contact_name] {
        color: $black;
        font-size: 11px;
        font-family: $opensans-extrabold;
      }
      > div,
      label {
        margin-bottom: 0;
        color: #333;
        font-weight: normal;
      }
    }
  }
  .main-sub-bottom {
    padding: 5px 8px;
    border-top: 1px solid $gray;
    background-color: $skyblue;
    font-size: 11px;
    font-family: $opensans-italic;
    word-wrap: break-word;
    p {
      font-size: 11px;
    }
  }
}
/* end */

/* Gradient for pages*/
.view-sang-tiem-nails.view-display-id-page,
.view-can-tho.view-display-id-page,
.view-quang-cao-rao-vat.view-display-id-page {
  .views-row {
    background: -moz-linear-gradient(top, #FFF 0%, #FAFAFA 100%);
    background: -webkit-linear-gradient(top, #FFF 0%, #FAFAFA 100%);
    background: linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%);
    background-color: #FFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#FFF', endColorstr='#FAFAFA',GradientType=0);
  }
}

/**
 *  Responsive designing
 */

 /* i-pad landscape & portrait view */
@media screen and (max-width: 1024px){
  .views-row {
    .main-sub-top {
      .main-sub-right-bottom-left {
        width: 30%;
      }
      .main-sub-right-bottom-right {
        float: right;
        width: 30%;
      }
    }
  }
}

/* i-pad portrait view only */
@media screen and (max-width: 992px){
  /* ipad */
  /*.container {
    min-height: 500px;
  }*/
  /* end */
  .views-row {
    .main-sub-top {
      .main-sub-right-top-title {
        label[for=title] {
          font-size: 12px;
        }
        a {
          font-size: 16px;
          line-height: 15px;
        }
      }
      .main-sub-right-bottom-left {
        width: calc(100% - 200px);
      }
      .main-sub-right-bottom-right {
        width: calc(100% - 155px);
        margin: 10px 0 0;
      }
    }
  }
}
@media screen and (max-width: 480px){
  .views-row {
    .main-sub-top {
      .main-sub-left {
        img {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      .main-sub-right {
        .main-sub-right-top {
          width: 100%;
        }
        .main-sub-right-bottom {
          .main-sub-right-bottom-left {
            width: 100%;
            margin-top: 15px;
          }
          .main-sub-right-bottom-right {
            width: 100%;
          }
        }
      }
    }
  }
}


/**
 *  Inner page
 */

/* Address */
.page-node-edit {
  &.node-type-listing {
    .region-content {
      border: none;
    }
  }
  #edit-field-category {
    select {
      background-color: #E1E1E1;
    }
  }
}
.node-type-listing {
  .views-row {
    margin-bottom: 0;
    border: none;
    box-shadow: none;
  }
  .region-content {
    padding-bottom: 50px;
    border: 1px solid #EBEBEB;
    border-bottom: 3px solid #D3D3D3;
  }
  &.region {
    margin-top: 10px;
  }
  h1 {
    display: none;
  }
  .innerpage-heading {
    width: 100%;
    margin-bottom: 10px;
    padding: 9px 15px;
    background-color: $light-black;
    color: $white;
    font-family: $opensans-semibold;
    text-transform: capitalize;
    .views-field-title {
      float: left;
      width: calc(100% - 220px);
      word-wrap: break-word;
      a {
        color: $white;
        font-size: 16px;
        font-family: $opensans-bold;
        text-decoration: none;
      }
    }
    .views-field-created {
      float: right;
      display: inline-block;
      margin-top: 9px;
      color: $gray-footer;
      font-size: 16px;
      line-height: 0;
      font-weight: bold;
    }
  }
  .common-detail {
    margin: 15px;
    padding: 15px 15px 35px;
    border: 1px solid $gray;
    background-color: $skyblue;
    .body-text {
      word-wrap: break-word;
    }
  }
  .view-common-field-listing {
    .top {
      margin-bottom: 20px;
      color: $dark-gray;
      font-size: 12px;
      font-family: $opensans-italic;
    }
    .bottom {
      /*width: calc(100% - 275px);*/
      width: 100%;
      margin: 0 auto;
      padding-top: 15px;
      border-top: 1px solid $light;
      text-align: center;
      .contact-name {
        display: inline-block;
        width: 100%;
        color: $black;
        font-size: 18px;
        font-family: $opensans-extrabold;
        text-align: center;
        text-transform: uppercase;
        .name {
          display: inline-block;
          margin-left: 12px;
        }
      }
      .full-address {
        float: left;
        display: inline-block;
        margin-top: 15px;
        padding-left: 35px;
        background-image: url($location1);
        background-position: 0 08px;
        background-repeat: no-repeat;
        background-size: 17px 30px;
        color: $black;
        font-size: 16px;
        text-align: left;
        text-transform: capitalize;
        .address {
          font-family: $opensans-semibold;
          .street-address {
            display: inline-block;
          }
          .country-name {
            display: inline-block;
          }
        }
        a {
          float: left;
          color: $blue;
          font-size: 40 px;
          font-family: $opensans-bold;
          text-decoration: none;
          &:hover {
            color: $dark-gray;
          }
        }
      }
      .phone {
        .phone-first {
          display: inline-block;
          margin-top: 10px;
          padding: 10px 21px 10px 38px;
          background-color: $orange;
          background-image: url($phone1);
          background-position: 15px 13px;
          background-repeat: no-repeat;
          color: $black;
          font-size: 16px;
          font-family: $opensans-semibold;
          text-align: center;
          @include border-radius(4px);
        }
        .phone-second {
          display: inline-block;
          padding: 10px 21px 10px 38px;
          background-color: $orange;
          background-image: url($phone1);
          background-position: 15px 13px;
          background-repeat: no-repeat;
          color: $black;
          font-size: 16px;
          font-family: $opensans-semibold;
          text-align: center;
          @include border-radius(4px);
        }
        .or {
          margin: 0 12px 0 10px;
          color: $black;
          font-size: 16px;
          font-family: $opensans-bold;
        }
      }
    }
    .views-field-body {
      p {
        color: $dark-gray;
        font-size: 14px;
        font-style: italic;
      }
    }
  }
  .close-button {
    right: 50%;
    left: auto !important;
    height: 32px !important;
    margin-right: -260px;
    padding: 6px !important;
    border-color: #F84545 !important;
    background-color: #F84545 !important;
    cursor: pointer;
   /* background-image: url($cross);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent !important;
    border-color: transparent !important;
    height: 27px;
    width: 23px;
    content: '';*/
  }
  /* end */

  /* Specific Items Listing */
  #block-views-common-field-listing-block-1 {
    margin: 20px 0;
    padding: 15px;
    .views-row {
      .field-content {
        display: inline-block;
        width: -webkit-calc(100% - 120px);
        width: -moz-calc(100% - 120px);
        width: calc(100% - 120px);
        color: $light-black;
        font-size: 14px;
        font-family: $opensans-bold;
      }
      .views-label {
        display: inline-block;
        /*width: 18%;*/
        max-width: 100px;
        width: 100%;
        margin-right: 12px;
        font-size: 14px;
        line-height: 25px;
        text-align: right;
        vertical-align: top;
      }
    }
  }
  /* end */
  .bxslider-ths-field_image-processed {
    margin: 20px;
    padding: 3px 0 3px 6px;
    border: 1px solid $gray;
    .bx-wrapper {
      ul {
        li {
          margin-right: 4px;
          img {
            opacity: 1;
          }
        }
      }
      .bx-controls-direction {
        .bx-prev {
          height: 34px;
          width: 34px;
          background-image: url($slider-prev-arrow);
          background-position: 0;
          background-repeat: no-repeat;
          content: '';
        }
        a {
          height: 34px;
          width: 34px;
          opacity: .7;
        }
        .bx-next {
          height: 34px;
          width: 34px;
          background-image: url($slider-next-arrow1);
          background-position: 0;
          background-repeat: no-repeat;
          content: '';
        }
      }
    }
  }
}


/**
 * Responsive design
 */

/* small desktop monitor view */
@media screen and (max-width: 1200px){
  .node-type-listing {
    .view-common-field-listing {
      .bottom {
        width: calc(100% - 200px);
      }
    }
  }
}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px){

}

/* i-pad portrait view only */
@media screen and (max-width: 992px){
  .node-type-listing {
    .view-common-field-listing {
      .bottom {
        width: calc(100% - 30px);
      }
    }
    #block-views-common-field-listing-block-1 {
      .views-row {
        .views-label {
          width: 24%;
        }
      }
    }
  }
}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){

}

/* mobile portrait view only */
@media screen and (max-width: 480px){
  .node-type-listing {
    .view-common-field-listing {
      .bottom {
        .phone {
          .phone-first,
          .phone-second {
            width: 150px;
            padding: 5px 21px 5px 30px;
            background-position: 9px 6px;
            font-size: 16px;
          }
          .or {
            display: inline-block;
            width: 100%;
            margin: 8px 0;
            font-size: 20px;
          }
        }
      }
    }
    .innerpage-heading {
      .views-field-created {
        font-size: 13px;
      }
      .views-field-title {
        width: 100%;
        a {
          font-size: 14px;
        }
      }
      .views-field-created {
        float: left;
      }
    }
    /*#gmap-auto1map-gmap0 {
      left: 0 !important;
      width: 100% !important;
      margin: 0 !important;
    }*/
    .close-button {
      right: 0 !important;
      margin-top: -7px !important;
      margin-right: calc(10% - 10px);
    }
  }
}


/* Business directory page */
.taxonomy-8 {
  .image-label {
    padding: 0 28px;
    color: $orange;
    font-size: 24px;
    font-family: $opensans-bold;
  }
  .view-business-directory-specified-field {
    &.view-display-id-block_1 {
      padding: 28px;
      .views-field-title {
        color: $gray-34;
        font-size: 20px;
        font-family: $opensans-bold;
        text-transform: capitalize;
      }
      .views-field-nothing {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        .full-address {
          max-width: 44%;
          width: 100%;
          margin-top: 05px;
          padding-left: 32px;
          background-image: url($dark-location1);
          background-position: -21px -8px;
          background-repeat: no-repeat;
          background-size: 60px;
          font-size: 15px;
          font-family: $opensans-semibold;
          .address {
            text-transform: capitalize;
            .adr {
              div,
              span {
                display: inline-block;
                font-family: $opensans-semibold;
              }
            }
          }
          a {
            color: $blue;
            font-size: 15px;
            line-height: 35px;
            font-family: $opensans-bold;
            text-decoration: none;
          }
        }
      }
      .views-field-field-contact-phone {
        .field-content {
          display: inline-block;
          width: 100%;
          margin-top: 17px;
          margin-bottom: 25px;
          padding-left: 34px;
          background-image: url($dark-phone);
          background-repeat: no-repeat;
          background-size: 24px auto;
          color: $gray-34;
          font-size: 19px;
          font-family: $opensans-bold;
        }
      }
      .views-field-field-hours {
        float: left;
        height: 75px;
        width: 50%;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #CBCBCB;
        border-right: none;
        border-left: none;
        background-color: $light-silver;
        background-image: url($watch);
        background-position: 0 6px;
        background-repeat: no-repeat;
        .oh-display-times {
          color: $black;
          font-family: $opensans-semibold;
          &::before {
            display: inline-block;
            margin-right: 5px;
            content: 'Today';
          }
        }
        .oh-current-closed,
        .oh-current-open {
          padding-left: 57px;
          color: $green;
          line-height: 25px;
          font-family: $opensans-bold;
        }
        .oh-current-open ~ .oh-current-closed {
          display: none;
        }
        .oh-current-closed {
          color: red;
        }
      }
      .views-field-field-website {
        float: left;
        height: 75px;
        width: 50%;
        padding: 24px 15px 15px;
        border: 1px solid #CBCBCB;
        border-right: none;
        border-left: none;
        background-color: $silver;
        .views-label-field-website {
          float: left;
          margin-top: -3px;
          margin-right: 15px;
          color: $orange;
          font-size: 24px;
          font-family: $opensans-bold;
        }
        .field-content {
          a {
            color: $light-gray;
            font-size: 20px;
            font-family: $opensans-bold;
            text-decoration: none;
            &:hover {
              color: $green;
            }
          }
        }
      }
      .views-row {
        .views-field-nid {
          .field-content {
            a {
              position: absolute;
              top: 0;
              right: 0;
              height: 59px;
              width: 59px;
              margin: 18px 28px 0 0;
              background-image: url($edit);
              font-size: 0;
              &::after {
                display: inline-block;
                margin-top: 47px;
                margin-left: 8px;
                color: #222;
                font-size: 13px;
                font-weight: bold;
                content: 'Edit';
              }
            }
          }
        }
      }
    }
    &.view-display-id-block {
      padding: 24px;
      .views-field {
        margin-top: 24px;
        line-height: 24px;
        &.views-field-field-tagline {
          display: inline-block;
          width: calc(100% + 48px);
          margin-left: -24px;
          padding: 10px 0 10px 20px;
          background-color: $light-black;
          .field-content {
            color: $white;
            font-size: 18px;
            font-family: $opensans-bold;
            text-transform: capitalize;
          }
        }
        .views-label {
          float: left;
          max-width: 155px;
          width: 100%;
          color: $light-gray;
          font-size: 13px;
          font-family: $opensans-bold;
          text-transform: capitalize;
        }
        .field-content {
          display: inline-block;
          width: calc(100% - 215px);
          font-size: 13px;
          font-family: $opensans-semibold;
          a {
            color: $light-gray;
            text-decoration: none;
            &:hover {
              color: $green;
            }
          }
        }
        .inline-text {
          color: $light-gray;
          font-family: $opensans-bold;
          text-transform: capitalize;
        }
      }
    }
    .views-field-field-hours {
      .oh-display-label {
        width: auto !important;
        margin-right: 14px;
      }
    }
  }
  .bxslider-ths-field_image-processed {
    margin: -10px 27px 27px;
    border: none;
    .bx-viewport {
      border: none;
    }
    ul {
      li {
        img {
          padding-right: 0 !important;
          @include border-radius(7px);
        }
      }
    }
    .bx-wrapper {
      width: 100%;
      .bx-viewport {
        margin-top: 15px;
      }
      ul {
        li {
          margin-right: 4px;
        }
      }
    }
  }
}
/* end */


/**
 * Responsive design
 */

/* small desktop monitor view */
@media screen and (max-width: 1200px){
  .taxonomy-8 {
    .view-business-directory-specified-field {
      &.view-display-id-block_1 {
        .views-field-field-website {
          .views-label-field-website {
            font-size: 18px;
          }
          .field-content {
            a {
              font-size: 16px;
            }
          }
        }
      }
      &.view-display-id-block {
        .views-field {
          .views-label {
            max-width: 115px;
          }
        }
      }
    }
  }
}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px){
  .taxonomy-8 {
    .view-business-directory-specified-field {
      &.view-display-id-block_1 {
        .views-field-field-website {
          .views-label-field-website {
            font-size: 17px;
          }
          .field-content {
            a {
              font-size: 16px;
            }
          }
        }
      }
      &.view-display-id-block {
        .views-field {
          .views-label {
            max-width: 115px;
          }
        }
      }
    }
  }
}

/* i-pad portrait view only */
@media screen and (max-width: 992px){
  .taxonomy-8 {
    .view-business-directory-specified-field {
      &.view-display-id-block_1 {
        .views-field-field-hours {
          width: 100%;
        }
        .views-field-field-website {
          width: 100%;
        }
        .field-content {
          a {
            font-size: 16px;
          }
        }
      }
      &.view-display-id-block {
        .views-field {
          .field-content {
            width: calc(100% - 125px);
          }
        }
      }
    }
  }
}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){
  .taxonomy-8 {
    .view-business-directory-specified-field {
      &.view-display-id-block {
        .views-field {
          .field-content {
            width: calc(100% - 125px);
          }
        }
      }
      &.view-display-id-block_1 {
        .views-field-nothing {
          .full-address {
            max-width: 100%;
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

/* mobile portrait view only */
@media screen and (max-width: 480px) {
  .taxonomy-8 {
    .view-business-directory-specified-field {
      &.view-display-id-block_1 {
        padding: 10px;
        .views-field-nothing {
          .full-address {
            max-width: 100%;
          }
        }
        .views-field-field-website {
          padding: 13px 15px 15px;
        }
      }
      &.view-display-id-block {
        padding: 10px;
        .views-field {
          &.views-field-field-tagline {
            width: calc(100% + 20px);
            margin-left: -10px;
            .field-content {
              font-size: 15px;
            }
          }
          .field-content {
            width: 100%;
          }
        }
        .views-label {
          max-width: 100%;
        }
      }
    }
  }
  #gmap-auto1map-gmap0 {
    left: 0 !important;
    width: 80% !important;
    margin-left: 10% !important;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: -11px -8px 0;
    padding: 5px;
  }
}



/* Business directory listing page */
#block-views-business-directory-block-1 {
  h2 {
    margin-bottom: 0;
  }
}
.view-business-directory,
.view-search {
  .view-header {
    margin-top: 25px;
  }
  .views-row {
    padding: 15px 10px;
    border-top: 2px solid $gray;
    border-right: 3px solid $gray;
    border-bottom: 2px solid $gray;
    border-left: 3px solid $gray;
    @include box-shadow(none);
    .business-top {
      .business-top-left {
        display: inline-block;
        width: 140px;
        img {
          margin-right: 25px;
          @include border-radius(10px);
        }
      }
      .business-top-right {
        display: inline-block;
        width: calc(100% - 150px);
        margin-top: -7px;
        vertical-align: top;
        .business-top-right-first {
          a {
            display: inline-block;
            margin-bottom: 18px;
            color: $gray-34;
            font-size: 22px;
            font-family: $opensans-bold;
            text-decoration: none;
            text-transform: capitalize;
          }
        }
        .business-top-right-second {
          height: 40px;
          padding-left: 34px;
          background-image: url($red-location);
          background-position: -13px -5px;
          background-repeat: no-repeat;
          color: $black;
          font-family: $opensans-semibold;
          .adr {
            div,
            span {
              display: inline-block;
              text-transform: capitalize;
            }
          }
        }
        .business-top-right-thrid {
          display: inline-block;
          margin: 10px 0 25px;
          .business-top-right-thrid-first {
            display: inline-block;
            width: 50%;
            padding-left: 35px;
            background-image: url($red-phone);
            background-position: -10px -6px;
            background-repeat: no-repeat;
            color: $gray-34;
            font-size: 18px;
            font-family: $opensans-bold;
          }
          .business-top-right-thrid-second {
            float: right;
            display: inline-block;
            min-height: 30px;
            width: 50%;
            padding-left: 45px;
            background-image: url($red-watch);
            background-position: 0 -4px;
            background-repeat: no-repeat;
            color: $black;
            font-family: $opensans-semibold;
            .oh-display-label {
              min-width: 90px;
              width: auto !important;
            }
          }
        }
      }
    }
    .business-bottom {
      .business-bottom-top {
        width: calc(100% - 100px);
        margin-left: 50px;
        a {
          float: left;
          color: $blue-cd;
          font-family: $opensans-bold;
          text-decoration: none;
          &:hover {
            color: $green;
          }
        }
        > div {
          display: inline-block;
          padding: 0 44px;
          border-right: 2px solid $blue;
          &:last-child {
            border-right: none;
          }
        }
      }
      .business-bottom-bottom {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        color: $light-gray;
        font-size: 13px;
        font-family: $opensans-italic;
      }
      .coupons-detail {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .7) !important;
        .all-field-collection {
          position: relative;
          top: 30%;
          left: 50%;
          z-index: 1;
          max-height: 300px;
          max-width: 500px;
          width: 100%;
          margin: 0 0 0 -250px;
          overflow: visible;
          background-color: $white;
          .main-popup {
            height: 200px;
            overflow-y: auto;
          }
          .field-collection-item-field-coupons {
            .content {
              display: inline-block;
              width: 100%;
              .field {
                display: inline-block;
                width: 50%;
                color: $gray-34;
                font-size: 20px;
                font-weight: bold;
              }
              .field-name-field-coupons-message {
                float: right;
              }
            }
          }
        }
        .all-field-collection {
          padding: 20px;
          ul {
            margin-top: 20px;
            padding-left: 0;
            li {
              display: inline-block;
              list-style: none;
              a {
                margin-right: 10px;
                padding: 5px 15px;
                background-color: $orange;
                color: #FFF;
                text-decoration: none;
                &:hover,
                &:focus {
                  background-color: $light-gray;
                }
              }
            }
          }
        }
        .close-button-second {
          position: absolute;
          top: 0;
          right: 0;
          margin: -11px -8px 0;
          padding: 5px;
          border-radius: 50%;
          background-color: #F84545;
          cursor: pointer;
        }
        @media (max-width: 767px) {
          .all-field-collection {
            left: 0;
            width: 80%;
            margin-left: 10%;
          }
        }
      }
    }
    &.fea-listing {
      background-color: $light-skyblue;
    }
  }
}
/* end */


/**
 * Responsive design
 */

/* small desktop monitor view */
@media screen and (max-width: 1200px){
  .view-business-directory {
    .views-row {
      .business-bottom {
        .business-bottom-top {
          > div {
            padding: 0 25px;
          }
        }
      }
    }
  }
}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px){
  .view-business-directory {
    .views-row {
      .business-bottom {
        .business-bottom-top {
          > div {
            display: inline-block;
            padding: 0 25px;
            border-right: 2px solid $blue;
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

/* i-pad portrait view only */
@media screen and (max-width: 992px){
  .view-business-directory,
  .view-search {
    .views-row {
      .business-top {
        .business-top-left {
          img {
            width: 120px;
            margin-right: 5px;
          }
        }
        .business-top-right {
          width: 48%;
          .business-top-right-first {
            a {
              font-size: 18px;
            }
          }
          .business-top-right-second {
            padding-left: 26px;
            font-size: 12px;
          }
          .business-top-right-thrid {
            .business-top-right-thrid-first {
              display: inline-block;
              width: 100%;
              padding-left: 30px;
              background-position: -10px -11px;
              font-size: 14px;
            }
            .business-top-right-thrid-second {
              width: 100%;
              margin-top: 13px;
              padding-left: 33px;
              background-position: -8px -4px;
              font-size: 12px;
            }
          }
        }
      }
      .business-bottom {
        .business-bottom-top {
          > div {
            padding: 0 12px;
            a {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){

}

/* mobile portrait view only */
@media screen and (max-width: 480px){
  .view-business-directory {
    .views-row {
      .business-top {
        .business-top-left {
          width: 100%;
          img {
            width: 100%;
            margin-right: 0;
          }
        }
        .business-top-right {
          width: 100%;
          .business-top-right-second {
            padding-left: 26px;
            font-size: 12px;
          }
        }
      }
      .business-bottom {
        .business-bottom-top {
          width: 100%;
          margin-left: 0;
          > div {
            padding: 0 6px;
            a {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}



/* Unpublish ads */
#block-views-unpublish-ads-block {
  .views-row {
    padding: 15px;
    .views-field-field-category {
      display: inline-block;
    }
    .views-field-nid {
      display: inline-block;
      text-align: center;
      .field-content {
        a {
          padding: 08px;
          background-color: $orange;
          color: $white;
          font-weight: bold;
          text-decoration: none;
          &:hover {
            background-color: $light-gray;
          }
          &:focus {
            outline: 0;
          }
        }
      }
    }
    .views-label {
      display: inline-block;
    }
    .field-content {
      display: inline-block;
    }
  }
}
/* end */

/* FAQ accordion css */
.ui-accordion {
  .ui-accordion-header {
    background: $dark-gray;
    @include border-radius(0);
    a {
      color: $white;
      font-size: 16px;
      font-family: $opensans-bold;
    }
    span {
      background: url('../images/downarrow-white.png');
      background-position: 4px 6px;
      background-repeat: no-repeat;
      content: '';
    }
    &.ui-accordion-header-active {
      background: $light-black;
    }
  }
  .ui-accordion-content {
    width: calc(100% - 1px);
    border: 1px solid #C5C5C5;
    font-family: $opensans-regular;
    @include border-radius(0);

  }
}
/* end */
#webform-client-form-2 {
  input {
    height: 34px;
    width: 50%;
    @include border-radius(0);
  }
  button {
    border-color: transparent;
    background-color: $orange;
    &:hover,
    &:focus {
      background-color: $light-black;
    }

  }
}

/* Pagination */
.pagination {
  li {
    a {
      color: #464646;
      text-transform: capitalize;
      &:hover,
      &:focus {
        color: #464646;
      }
    }
    &.active {
      span {
        border-color: #464646;
        background-color: #464646;
        color: $white;
        &:hover,
        &:focus {
          border-color: $dark-gray;
          background-color: $dark-gray;
        }
      }
    }
  }
}

/* QUANG CAO & RAO VAT  page design */
.page-quang-cao-rao-vat,
.page-quang-cao-rao-vat-search {
  .view-quang-cao-rao-vat,
  .view-search {
    .views-row {
      padding: 20px;
      background-color: $skyblue;
      .main-quang {
        .quang-top {
          display: inline-block;
          width: 100%;
          padding-bottom: 20px;
          .quang-top-left {
            float: left;
            display: inline-block;
            min-height: 30px;
            max-width: 130px;
            width: 100%;
            margin-right: 25px;
            .left-image {
              position: relative;
              /* Flag image */
              .flag-image {
                position: absolute;
                right: 0;
                /*&::before {
                  display: inline-block;
                  height: 30px;
                  width: 50px;
                  background-image: url($star);
                  background-repeat: no-repeat;
                  color: $blue;
                  font-family: $opensans-bold;
                  content: '';
                }*/
                .flag-wrapper {
                  display: inline-block;
                  a {
                    display: inline-block;
                    height: 31px;
                    width: 43px;
                    background-image: url($star-unflag);
                    background-repeat: no-repeat;
                    text-indent: -9999px;
                    &.flag-action { background-image: url($star-flag); }
                  }
                  .flag-throbber { float: left; }
                }
              }
              /* End */
            }
          }
          .quang-top-right {
            position: relative;
            display: inline-block;
            width: -webkit-calc(100% - 155px);
            width: -moz-calc(100% - 155px);
            width: calc(100% - 155px);
            .top-right-top-title {
              .right-title {
                display: inline-block;
                line-height: 4px;
                a {
                  color: $gray-34;
                  font-size: 17px;
                  font-family: $opensans-bold;
                  text-decoration: none;
                }
              }
              .right-address {
                margin-bottom: 10px;
                color: #62676C;
                font-size: 11px;
                font-family: $opensans-semibold;
              }
            }
            .top-right-bottom-field {
              .bottom-field-right {
                position: absolute;
                float: right;
                right: 0;
                bottom: 0;
                .sale-price {
                  display: inline-block;
                  max-width: 150px;
                  width: 100%;
                  color: $black;
                  font-size: 22px;
                  line-height: 24px;
                  font-weight: normal;
                  font-family: $opensans-extrabold;
                  text-align: center;
                  word-wrap: break-word;
                  label {
                    display: inline-block;
                    margin-bottom: 0;
                    color: $gray-34;
                    font-size: 15px;
                    font-family: $opensans-bold;
                  }
                }
              }
            }
            .top-right-bottom-field {
              .bottom-field-left {
                display: inline-block;
                max-width: 500px;
                width: 100%;
                font-size: 11px;
                font-weight: normal;
                font-family: $opensans-extrabold;
                label {
                  display: inline-block;
                  max-width: 110px;
                  width: 100%;
                  margin-bottom: 10px;
                  font-weight: normal;
                  font-family: $opensans-extrabold;
                }
              }
            }
          }
        }
        .quang-bottom {
          display: inline-block;
          width: calc(100% + 40px);
          margin-left: -20px;
          padding: 15px 20px 0;
          border-top: 1px solid #CCC;
          &::before {
            float: left;
            display: inline-block;
            height: 85px;
            width: 70px;
            background-image: url($user);
            background-position: -2px 14px;
            background-repeat: no-repeat;
            content: '';
          }
          .quang-bottom-second {
            position: relative;
            display: inline-block;
            /*float: left;
            display: inline-block;
            max-width: 200px;*/
            label {
              width: 100%;
              color: $gray-34;
              font-size: 18px;
              font-weight: normal;
              font-family: $opensans-bold;
            }
            > div {
              color: #535353;
              font-size: 12px;
              line-height: 18px;
              font-family: $opensans-bold;
            }
            .second-address {
              > div {
                display: inline-block;
              }
            }
          }
          .quang-bottom-thrid {
            position: absolute;
            right: 25px;
            margin-top: -40px;
            .thrid-info {
              a {
                display: inline-block;
                font-size: 0;
                text-decoration: none;
                &::before {
                  color: $blue;
                  font-size: 18px;
                  font-family: $opensans-bold;
                  content: 'More Info.';
                }
                &:hover {
                  color: $gray-85;
                }
              }
            }
          }
        }
      }
    }
  }
}
/* End */

/* Responsive QUANG CAO & RAO VAT  page design */
@media screen and (max-width: 1024px){
  .page-quang-cao-rao-vat,
  .page-quang-cao-rao-vat-search {
    .view-quang-cao-rao-vat,
    .view-search {
      .views-row {
        .main-quang {
          .quang-top {
            .quang-top-right {
              .top-right-bottom-field {
                .bottom-field-left {
                  max-width: 250px;
                }
                .bottom-field-right {
                  position: relative;
                  float: left;
                  width: calc(100% - 139px);
                  .sale-price {
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 481px) {
  .page-quang-cao-rao-vat,
  .page-quang-cao-rao-vat-search {
    .view-quang-cao-rao-vat,
    .view-search {
      .views-row {
        .main-quang {
          .quang-top {
            .quang-top-right {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
/* End */
