/*
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */


/* Import of variables created for site */
@import 'globals/variable';
@import 'globals/header';
@import 'globals/sidebar';
@import 'globals/footer';
@import 'components/fonts';
@import 'layout/forms';

body {
  font-family: $opensans-regular;
}

/* common css */
.view-empty {
  margin: 15px 0;
  color: $black;
}


/**
 *  Content section
 */
.container {
  .jumbotron {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}
.featured-listing {
  h2 {
    margin-top: 0;
    padding: 10px 0 10px 20px;
    background-color: $light-black;
    color: $white;
    font-size: 15px;
    font-family: $opensans-bold;
    text-transform: capitalize;
  }
}
.view-header {
  margin-top: 14px;
  padding: 9px 0 9px 20px;
  background-color: $light-black;
  color: $white;
  font-size: 14px;
  font-family: $opensans-bold;
  text-transform: capitalize;
}
.page-header {
  display: none;
}
.views-row {
  margin-top: 10px 0;
  border: 1px solid $gray;
  box-shadow: 0 02px 0 $gray;
  .main-sub-right-top-title {
    display: inline-block;
    line-height: 0;
    label[for=title] {
      color: $black;
      font-size: 15px;
      font-family: $opensans-regular;
    }
    a {
      color: $black;
      font-size: 18px;
      font-family: $opensans-bold;
      text-decoration: none;
    }
  }
  .main-sub-right-top {
    display: inline-block;
    width: calc(100% - 170px);
    padding-bottom: 6px;
    border-bottom: 1px solid $gray;
    .main-sub-right-top-save {
      float: right;
      margin-bottom: 2px;
      a {
        padding: 03px 10px;
        border: 1px solid $black;
        color: $blue;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $light-gray;
        }
      }
    }
  }
  img {
    float: left;
    margin: 0 15px 0 0;
  }
  .main-sub-top {
    padding: 10px;
  }
  .main-sub-right-bottom-left {
    display: inline-block;
    margin-top: 4px;
    font-size: 11px;
    label {
      font-weight: normal;
    }
    .category {
      color: $black;
      font-size: 13px;
      font-family: $opensans-semibold;
      text-decoration: none;
    }
  }
  .main-sub-right-bottom-right {
    float: right;
    margin: 4px 30px 0 0;
    color: $light-gray;
    font-size: 11px;
    label[for=contact_name] {
      color: $black;
      font-size: 13px;
      font-family: $opensans-semibold;
    }
    label {
      color: #333;
      font-weight: normal;
    }
  }
  .main-sub-bottom {
    p {
      padding: 5px 8px;
      border-top: 1px solid $gray;
      background-color: $skyblue;
      font-size: 12px;
      font-style: italic;
    }
  }
}


/**
 *  Inner page
 */
/* Address */
.node-type-listing {
  .views-row {
    margin-top: 0;
    border: none;
    box-shadow: none;
  }
  .region-content {
    padding-bottom: 50px;
    border: 1px solid $gray;
    border-bottom: 3px solid $gray;
  }
  &.region {
    margin-top: 10px;
  }
  h1 {
    display: none;
  }
  .innerpage-heading {
    width: 100%;
    margin-bottom: 10px;
    padding: 9px 15px;
    background-color: $light-gray;
    color: $white;
    text-transform: capitalize;
    .views-field-title {
      float: left;
      a {
        color: $white;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .views-field-created {
      float: right;
      display: inline-block;
      margin-top: 14px;
      color: $gray-footer;
      font-size: 16px;
      line-height: 0;
      font-weight: bold;
    }
  }
  .common-detail {
    margin: 15px;
    padding: 15px 0 35px 15px;
    border: 1px solid $gray;
    background-color: $skyblue;
  }
  .views-field-nothing {
    width: calc(100% - 275px);
    margin: 20px auto 0;
    padding-top: 20px;
    border-top: 1px solid $full-gray;
    text-align: center;
    .contact-name {
      display: inline-block;
      width: 100%;
      color: $black;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      .name {
        display: inline-block;
        margin-left: 12px;
      }
    }
    .alternative-phone {
      display: inline-block;
      margin-top: 12px;
      color: $black;
      font-size: 17px;
      font-weight: bold;
      text-align: center;
      .phone {
        display: inline-block;
        padding: 10px 36px;
        background-color: $orange;
        background-image: url($phone1);
        background-position: 13px 12px;
        background-repeat: no-repeat;
        text-align: center;
        @include border-radius(4px);
      }
      span {
        display: inline-block;
        margin: 0 20px;
        font-size: 18px;
        text-align: center;
      }
      .alternate-phone {
        display: inline-block;
        padding: 10px 36px;
        background-color: $orange;
        background-image: url($phone1);
        background-position: 13px 12px;
        background-repeat: no-repeat;
        color: $black;
        font-weight: bold;
        text-align: center;
        @include border-radius(4px);
      }
    }
    .full-address {
      float: left;
      display: inline-block;
      margin-top: 15px;
      padding-left: 35px;
      background-image: url($location1);
      background-position: 0 08px;
      background-repeat: no-repeat;
      background-size: 17px 30px;
      color: $black;
      font-size: 18px;
      text-align: left;
      text-transform: capitalize;
    }
    .address {
      .street-address {
        display: inline-block;
      }
      .country-name {
        display: inline-block;
      }
    }
    a {
      float: left;
      color: $blue;
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: $dark-gray;
      }
    }
  }
  .views-field-body {
    p {
      color: $dark-gray;
      font-size: 14px;
      font-style: italic;
    }
  }
  /* end */

  /* Specific Items Listing */
  #block-views-common-field-listing-block-1 {
    margin: 20px 0 25px;
    .views-row {
      .field-content {
        display: inline-block;
        color: $black;
        font-size: 14px;
        font-weight: bold;
      }
      .views-label {
        display: inline-block;
        width: 18%;
        margin-right: 12px;
        font-size: 14px;
        line-height: 25px;
        text-align: right;
      }
    }
  }
  /* end */
  .bxslider-ths-field_image-processed {
    margin: 20px;
    padding: 3px 0 3px 6px;
    border: 1px solid $gray;
    .bx-wrapper {
      ul {
        li {
          img {
            padding-right: 5px;
            opacity: 1;
          }
        }
      }
    }
  }
  .bx-wrapper {
    .bx-controls-direction {
      .bx-prev {
        height: 34px;
        width: 34px;
        background-image: url($slider-prev-arrow);
        background-position: 0;
        background-repeat: no-repeat;
        content: '';
      }
      a {
        height: 34px;
        width: 34px;
        opacity: .7;
      }
      .bx-next {
        height: 34px;
        width: 34px;
        background-image: url($slider-next-arrow1);
        background-position: 0;
        background-repeat: no-repeat;
        content: '';
      }
    }
  }
}

/* Business directory page */
.taxonomy-8 {
  .view-business-directory-specified-field {
    &.view-display-id-block_1 {
      padding: 28px;
      .views-field-title {
        color: $black-dark;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
      }
      .views-field-nothing {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        .full-address {
          max-width: 40%;
          width: 100%;
          margin-top: 05px;
          background-image: url($dark-location1);
          background-position: -21px -8px;
          background-repeat: no-repeat;
          background-size: 60px;
          font-size: 15px;
          a {
            margin-top: 10px;
            font-size: 15px;
          }
        }
      }
      .views-field-field-contact-phone {
        .field-content {
          display: inline-block;
          width: 100%;
          margin: 15px 0 28px;
          padding-left: 34px;
          background-image: url($phone1);
          background-repeat: no-repeat;
          background-size: 20px auto;
          font-size: 19px;
          font-weight: bold;

        }
      }
      .views-field-field-hours {
        float: left;
        height: 75px;
        width: 50%;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid $light-gray;
        border-right: none;
        border-left: none;
        background-color: $light-silver;
        background-image: url($watch);
        background-position: 0 6px;
        background-repeat: no-repeat;
        .oh-current-closed {
          padding-left: 41px;
          color: $green;
          font-weight: bold;
        }
      }
      .views-field-field-website {
        float: left;
        height: 75px;
        width: 50%;
        padding: 24px 15px 15px;
        border: 1px solid $light-gray;
        border-right: none;
        border-left: none;
        background-color: $silver;
        .views-label-field-website {
          float: left;
          margin-right: 15px;
          color: $orange;
          font-size: 21px;
          font-weight: bold;
        }
        .field-content {
          a {
            color: $light-gray;
            font-size: 21px;
            text-decoration: none;
            &:hover {
              color: $green;
            }
          }
        }
      }
    }
    &.view-display-id-block {
      padding: 24px;
      .views-field {
        margin-top: 24px;
        line-height: 24px;
        &.views-field-field-tagline {
          display: inline-block;
          width: calc(100% + 48px);
          margin-left: -24px;
          padding: 10px 0 10px 20px;
          background-color: $light-gray;
          color: $white;
          font-size: 18px;
          font-weight: bold;
          text-transform: capitalize;
        }
        .views-label {
          float: left;
          max-width: 200px;
          width: 100%;
          color: $light-gray;
          font-weight: bold;
          text-transform: capitalize;
        }
        .field-content {
          display: inline-block;
          width: calc(100% - 215px);
          a {
            color: $light-gray;
            text-decoration: none;
            &:hover {
              color: $green;
            }
          }
        }
        .inline-text {
          color: $light-gray;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }
  .bxslider-ths-field_image-processed {
    margin: 27px;
    border: none;
  }
}
/* end */

/* Business directory listing page */
#block-views-business-directory-block-1 {
  h2 {
    margin-bottom: 0;
  }
}
.view-business-directory {
  .view-header {
    margin-top: 25px;
  }
  .views-row {
    padding: 10px;
    border-top: 2px solid $gray;
    border-right: 3px solid $gray;
    border-bottom: 2px solid $gray;
    border-left: 3px solid $gray;
    @include box-shadow(none);
    .business-top {
      .business-top-left {
        img {
          margin-right: 25px;
          @include border-radius(10px);
        }
      }
      .business-top-right {
        display: inline-block;
        .business-top-right-first {
          a {
            display: inline-block;
            margin-bottom: 10px;
            color: $black;
            font-size: 24px;
            text-decoration: none;
            text-transform: capitalize;
          }
        }
        .business-top-right-second {
          height: 40px;
          padding-left: 34px;
          background-image: url($red-location);
          background-position: -13px -5px;
          background-repeat: no-repeat;
          .adr {
            div,
            span {
              display: inline-block;
              text-transform: capitalize;
            }
          }
        }
        .business-top-right-thrid {
          display: inline-block;
          margin: 10px 0 35px;
          .business-top-right-thrid-first {
            display: inline-block;
            width: 50%;
            padding-left: 35px;
            background-image: url($red-phone);
            background-position: -10px -6px;
            background-repeat: no-repeat;
            font-size: 18px;
            font-weight: bold;
          }
          .business-top-right-thrid-second {
            float: right;
            display: inline-block;
            width: 50%;
            padding-left: 50px;
            background-image: url($red-watch);
            background-position: -8px -4px;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .business-bottom {
      .business-bottom-top {
        width: calc(100% - 100px);
        margin-left: 50px;
        a {
          float: left;
          color: $blue;
          font-weight: bold;
          text-decoration: none;
          &:hover {
            color: $green;
          }
        }
        > div {
          display: inline-block;
          padding: 0 44px;
          border-right: 2px solid $blue;
          &:last-child {
            border-right: none;
          }
        }
      }
      .business-bottom-bottom {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        color: $light-gray;
        font-size: 13px;
        font-style: italic;
      }
    }
    &.fea-listing {
      background-color: $light-skyblue;
    }
  }
}
/* end */

/* Unpublish ads */

#block-views-unpublish-ads-block {
  .views-row {
    padding: 15px;
    .views-field-title {
      display: inline-block;
    }
    .views-field-field-category {
      display: inline-block;
    }
    .views-field-nid {
      display: inline-block;
      text-align: center;
      .field-content {
        a {
          padding: 08px;
          background-color: $orange;
          color: $white;
          font-weight: bold;
          text-decoration: none;
          &:hover {
            background-color: $light-gray;
          }
          &:focus {
            outline: 0;
          }
        }
      }
    }
    .views-label {
      display: inline-block;
    }
    .field-content {
      display: inline-block;
    }
  }
}
/* end */


