/*
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 */



/**
 * Common css
 */

/* checkbox */
.input-rc {
  display: inline-block;
  input[type='checkbox'] {
    display: none;
    opacity: 0;
  }
  input[type='checkbox'] + .input-rc-span {
    float: left;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px -2px 0;
    background-image: url($uncheck);
    background-repeat: no-repeat;
    cursor: pointer;
    content: '';
    @include border-radius(0 3px 3px 3px);
  }
  input[type='checkbox']:checked + .input-rc-span {
    background-image: url($check);
    background-repeat: no-repeat;
  }
}
/* end */

/* radio button */
.radio label,
.checkbox label {
  padding-left: 0;
}
.radio-rc {
  display: inline-block;
  input[type='radio'] {
    display: none;
    opacity: 0;
  }
  input[type='radio'] + .radio-rc-span {
    float: left;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 10px -2px 0;
    background-image: url($radio-uncheck);
    background-repeat: no-repeat;
    background-size: 18px;
    cursor: pointer;
    content: '';
    @include border-radius(0 3px 3px 3px);
  }
  input[type='radio']:checked + .radio-rc-span {
    background-image: url($radio-check);
    background-repeat: no-repeat;
    background-size: 18px;
  }
}
/* end */

/* text box */
input[type='text'] {
  &.form-control {
    height: 40px;
    color: $dark-gray;
    font-style: italic;
    @include border-radius(0);
  }
}
/* end */

/* file upload */
input[type='file'] {
  padding: 0;
}
/* end */

/* panel heading in back-end side */
.panel {
  @include border-radius(0);
  &.panel-default {
    > .panel-heading {
      background-color: $light-black;
      color: $white;
      font-weight: bold;
      text-transform: capitalize;
      @include border-radius(0);
    }
    &.form-wrapper {
      margin-bottom: 25px;
    }
  }
}
/* location fieldset */
fieldset {
  margin-bottom: 30px;
}
/* end */

/* autocomplete */
.input-group-addon {
  @include border-radius(0);
}
/* end */

/* text area */
textarea {
  &.text-full {
    @include border-radius(0);
  }
}
/* end */

/* button */
.btn {
  font-family: $opensans-bold;
  @include border-radius(0);
  &:focus {
    font-family: $opensans-bold;
    outline: 0;
  }
}
button {
  font-family: $opensans-bold;
  &:hover {
    font-family: $opensans-bold;
    outline: 0;
  }
  &:focus {
    font-family: $opensans-italic;
    outline: 0;
  }
}
/* end */

/* table in back-end side */
table {
  thead {
    background-color: $light-gray;
    color: $white;
    th {
      label {
        margin-top: 05px;
        padding-left: 15px;
      }
    }
  }
}
/* end */

/* select button */
select,
select.form-control {
  height: 40px;
  border-color: $gray;
  border-style: solid;
  border-width: 1px;
  background-image: url($downarrow-black);
  background-position: calc(100% - 14px);
  background-repeat: no-repeat;
  color: $dark-gray;
  font-family: $opensans-italic;
  @include box-shadow(none);
  @include border-radius(0);
  @include appearance(none);
  &:focus {
    border-color: $gray;
    @include border-radius(0);
    @include appearance(none);
    @include box-shadow(none);
  }
  option {
    padding-left: 12px;
  }
}
/* end */

.grippie {
  display: none;
}
.form-required {
  color: $red;
}

/* Post an ad image gallery */
.custom_fieldset_wrap {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}
/* end */


/* Filter */
.region-primary-first {
  padding: 10px 20px;
  background-color: $full-gray;
  #quicktabs-search {
    ul.quicktabs-tabs {
      display: inline-block;
      width: 100%;
      li {
        float: left;
        display: inline-block;
        margin-right: 2px;
      }
    }
  }
  #quicktabs-second_filter {
    ul {
      display: none;
    }
    .quicktabs-tabpage {
      margin-top: 0;
      .views-exposed-form {
        margin-top: 0;
      }
      select {
        margin-top: 5px;
        margin-bottom: 5px !important;
      }
    }
    .views-exposed-form {
      #edit-field-categories-tid {
        display: inline-block;
      }
    }
  }
  #block-block-8 {
    width: calc(100% - 18px);
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 2px solid $dark-gray;
    color: $black;
    font-size: 14px;
    text-transform: uppercase;
    .filter {
      display: inline-block;
      margin-right: 16px;
    }
    .user-region {
      display: inline-block;
      color: $orange;
      font-family: $opensans-bold;
    }
  }
  #quicktabs-search,
  #quicktabs-second_filter {
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 0;
        &.active {
          a {
            padding: 10px 15px;
            background-color: $light-black;
            color: $white;
            font-size: 11px;
            font-family: $opensans-bold;
            &:hover {
              background-color: $light-black;
            }
          }
        }
        a {
          display: inline-block;
          padding: 10px 15px;
          background-color: $dark-gray;
          color: $white;
          font-size: 11px;
          font-family: $opensans-bold;
          text-decoration: none;
          &:hover {
            background-color: $light-black;
          }
        }
      }
    }
  }
  #quicktabs-container-search,
  .quicktabs-tabpage {
    margin-top: 16px;
    .views-exposed-form {
      .views-submit-button {
        float: left;
        button {
          float: left;
          width: auto;
          padding: 20px 28px;
          border: none;
          background-color: $orange;
          font-size: 11px;
          line-height: 0;
          font-weight: bold;
          text-transform: uppercase;
          @include border-radius(0);
          &:hover {
            background-color: $light-black;
          }
        }
        &:active {
          background-color: red;
        }
      }
      .views-reset-button {
        display: inline-block;
        margin-top: 13px;
        padding: 0;
        button {
          width: auto;
          border: none;
          background-color: transparent;
          color: $light-gray;
          font-size: 12px;
          line-height: 0;
          font-weight: bold;
          font-family: $opensans-regular;
          &:hover {
            color: $green;
          }
          &:active,
          &.active {
            box-shadow: none;
          }
          &:focus {
            border: none;
            background-color: transparent;
            outline: 0;
          }
        }
        .btn {
          height: 0;
        }
      }
      .views-exposed-widget {
        float: none;
        padding: 0;
      }
      select {
        margin-bottom: 16px !important;
        border: none;
        &:focus {
          margin: 0;
          border: none;
        }
      }
      #edit-citycantho-wrapper {
        #edit-citycantho {
          height: 40px;
          border: none;
          background-color: $gray-f6;
          color: $dark-gray;
          font-style: italic;
          @include border-radius(0);
          @include box-shadow(none);
          @include appearance(none);
        }
      }
      .for-border {
        width: calc(100% - 18px);
        padding-bottom: 15px;
        border-bottom: 2px solid $dark-gray;
      }
    }
  }
  .quicktabs-tabs .quicktabs-style-nostyle {
    display: none;
  }
  .quicktabs-tabpage {
    margin-top: 0;
  }
}
/* end */

/* filter quang-cao-rao-vat page */
.quicktabs-style-nostyle ul.quicktabs-tabs.quicktabs-style-nostyle {
  display: none;
}
#block-chomchom-views-custom-filter {
  #chomchom-views-forms-data {
    .form-item {
      float: left;
      select {
        display: inline-block;
        width: 250px;
        margin-right: 15px;
      }
    }
    button {
      &.btn {
        float: left;
        display: inline-block;
        height: 40px;
        width: 100px;
        border-color: transparent;
        background-color: $orange;
        &:hover,
        &:focus {
          background-color: $light-gray;
        }
      }
    }
  }
}
#views-exposed-form-search-page-quang-cao {
  .views-exposed-form {
    margin-top: 0;
    select.edit-field-quang-categories-tid {
      margin-top: 5px;
    }
  }
}


/* End */


/**
 *  Responsive designing
 */

/* small desktop monitor view */
@media screen and (max-width: 1200px) {
  .region-primary-first {
    #quicktabs-container-search {
      .views-exposed-form {
        .views-submit-button {
          button {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px) {
  .region-primary-first {
    #quicktabs-container-search {
      margin-top: 16px;
      .views-exposed-form {
        .views-submit-button {
          float: left;
          button {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

/* i-pad portrait view only */
@media screen and (max-width: 992px){

}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){
  .region-primary-first {
    #quicktabs-container-search {
      .views-exposed-form {
        select {
          width: 100%;
        }
      }
    }
  }
  #block-chomchom-views-custom-filter {
    margin-top: 10px;
  }
}

/* mobile portrait view only */
@media screen and (max-width: 480px){
  .region-primary-first {
    margin-bottom: 15px;
  }
  #block-chomchom-views-custom-filter {
    #chomchom-views-forms-data {
      button {
        &.btn {
          margin-bottom: 10px;
        }
      }
    }
  }
}


/* All Listing exposed filter section */
.views-exposed-form {
  margin: 0 0 10px;
  .form-item-sort-by {
    display: none;
  }
  .views-exposed-widget {
    padding: 0 15px 0 0;
    .form-item-province {
      select {
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  select {
    width: 250px;
    background-color: $gray-f6;
    font-size: 12px;
  }
  input {
    font-size: 12px;
  }
  .btn {
    height: 40px;
    width: 100px;
    border: none;
    background-color: $orange;
    font-weight: normal;
    @include border-radius(0);
    &:hover {
      background-color: $light-gray;
    }
    &:focus {
      background-color: $light-gray;
      outline: none;
    }
  }
}
/* end */



/**
 *  Inner page
 */

/* email to seller section */
#block-webform-client-block-17 {
  padding: 15px 60px 15px 22px;
  border-bottom: 4px solid $gray;
  background-color: $light-black;
  .block-title {
    color: $white;
    font-size: 18px;
    font-family: $opensans-bold;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 0;
  }
  #webform-client-form-17 {
    width: 100%;
    #edit-submitted-first-name,
    #edit-submitted-last-name {
      float: left;
      width: 30%;
      margin-right: 15px;
      font-size: 11px;
    }
    #edit-submitted-email {
      float: left;
      height: 40px;
      width: 32%;
      margin-right: 0;
      font-size: 11px;
    }
    input {
      color: $dark-gray;
      font-size: 11px;
      font-style: italic;
      @include border-radius(0);
    }
    #edit-submitted-enter-your-message-text {
      display: inline-block;
      height: auto;
      width: 66%;
      margin-top: 13px;
      padding-top: 10px;
      font-size: 11px;
      font-style: italic;
      @include border-radius(0);
    }
    #edit-submitted-seller-email {
      display: none;
    }
    .form-actions {
      float: right;
      clear: none;
      button {
        height: 42px;
        width: auto;
        margin-top: -16px;
        padding: 20px 28px;
        border: none;
        background-color: $orange;
        color: $white;
        font-size: 11px;
        line-height: 0;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include border-radius(0);
        &:hover {
          background-color: $green;
        }
      }
    }
    .grippie {
      display: none;
    }
    .webform-component-checkboxes {
      float: left;
      margin: 0;
      margin-left: 0;
      color: $dark-gray;
      font-size: 12px;
      font-family: verdana;
      label {
        width: calc(100% - 90px);
        padding-left: 0;
      }
    }
  }
}


/**
 * Responsive designing
 */

 /* small desktop monitor view */
@media screen and (max-width: 1200px){
  #block-webform-client-block-17 {
    padding: 15px 22px;
    #webform-client-form-17 {
      #edit-submitted-first-name,
      #edit-submitted-last-name,
      #edit-submitted-email {
        display: inline-block;
        width: 31%;
      }
      .form-actions {
        float: none;
        button {
          margin-left: 10px;
        }
      }
      #edit-submitted-enter-your-message-text {
        width: 64%;
      }
    }
  }
}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px){
  #block-webform-client-block-17 {
    #webform-client-form-17 {
      #edit-submitted-first-name {
        width: 31%;
      }
      .form-actions {
        button {
          padding: 20px;
        }
      }
    }
    .webform-component-checkboxes {
      margin-right: 10px;
    }
  }
}

/* i-pad portrait view only */
@media screen and (max-width: 992px){
  #block-webform-client-block-17 {
    padding: 15px 22px;
    #webform-client-form-17 {
      #edit-submitted-first-name,
      #edit-submitted-last-name,
      #edit-submitted-email,
      #edit-submitted-enter-your-message-text {
        width: 100%;
        margin-top: 10px;
      }
      .form-actions {
        float: none;
        button {
          margin-top: 10px;
        }
      }
    }
  }
}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){

}

/* mobile portrait view only */
@media screen and (max-width: 480px){
  #block-webform-client-block-17 {
    #webform-client-form-17 {
      .form-actions {
        button {
          margin-left: 0;
        }
      }
      .webform-component-checkboxes {
        label {
          width: 100%;
        }
      }
    }
  }
}

/**
 * User register page css
 */

/* login */
.tabs--primary {
  width: 100%;
  margin-top: 12px;
  border-bottom: none;
  text-align: center;
  li {
    margin-right: 3px;
    &.active {
      border: none;
      background-color: $light-black;
      @include border-radius(0);
      @include box-shadow(none);
      @include appearance(none);
      > a {
        border-width: 0;
        background-color: $light-black;
        color: $white;
        font-weight: bold;
        &:hover {
          border-width: 0;
          background-color: $light-black;
          color: $white;
          font-weight: bold;
          @include border-radius(0);
        }
        &:focus {
          border-width: 0;
          background-color: $light-black;
          color: $white;
          font-weight: bold;
          @include border-radius(0);
        }
      }
    }
    > a {
      margin-right: 0;
    }
    a {
      border: none;
      background-color: $dark-gray;
      color: $white;
      font-weight: bold;
      @include border-radius(0);
      @include box-shadow(none);
      @include appearance(none);
      &:hover {
        border: none;
        background-color: $light-black;
        color: $white;
        font-weight: bold;
        @include border-radius(0);
        @include box-shadow(none);
        @include appearance(none);
      }
      &:focus {
        border: none;
        background-color: $light-black;
        color: $white;
        font-weight: bold;
        @include border-radius(0);
        @include box-shadow(none);
        @include appearance(none);
      }
    }
  }
}
#user-login {
  input {
    height: 34px;
    max-width: 465px;
    width: 100%;
  }
}
#edit-actions {
  button {
    height: 42px;
    width: auto;
    border: none;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    @include border-radius(0);
    &:hover {
      background-color: $light-gray;
    }
  }
}
#edit-name,
#edit-pass,
#edit-mail {
  @include border-radius(0);
}
#user-pass {
  input {
    max-width: 462px;
    width: 100%;
  }
}


/**
 *  Back-end css
 */

/* Post an add for anonymous user */
.node-listing-form {
  .panel-collapse {
    select {
      width: 350px;
      background-color: transparent;
    }
  }
  #gmap-auto1map-gmap0 {
    width: 100% !important;
    margin-bottom: 30px;
  }
  #edit-field-category {
    select {
      width: 215px;
      margin-right: 15px;
      padding-left: 8px;
      background-color: transparent;
      text-indent: 1px;
      outline: none;
      &:nth-of-type(2) {
        > option:first-child {
          display: none;
        }
      }
      &:focus,
      &:active {
        outline: 0;
      }
      option {
        padding-left: 8px;
      }
    }
    label {
      margin: 17px 10px 0 0;
    }
  }
  #edit-body-und-0-format {
    display: none;
  }
  .help-block {
    display: none;
  }
  .group-can-tho {
    width: 100%;
    h3 {
      display: none;
    }
    > .form-group {
      float: left;
      height: auto;
      width: 33.33%;
    }
  }
  .group-sang-tiem-nails {
    h3 {
      display: none;
    }
    > .form-group {
      float: left;
      height: auto;
      width: 33.33%;
      margin-top: 15px;
    }
  }
  #switch_edit-body-und-0-value {
    display: none !important;
  }
  .form-item-locations-0-province {
    .input-group-addon {
      display: inline-block;
      height: 40px;
      width: auto;
      padding: 9px;
      white-space: normal;
    }
    .dropdown {
      width: calc(100% - 462px);
      margin-left: 140px;
    }
  }
  #edit-field-featured-date,
  #edit-field-expire-date {
    display: none;
  }
  #edit-field-tiem-sq-ft {
    clear: both;
  }
  #edit-field-ghe {
    input {
      width: 90%;
    }
  }
  #edit-locations-0-province {
    width: 314px;
  }
  /* end */

  /* Business directory category */
  #edit-field-hours {
    select {
      min-height: 30px;
      height: auto;
      width: 85px;
      margin: 0 10px 0 05px;
      padding: 3px 12px;
    }
    a {
      padding: 5px 15px;
      background-color: $orange;
      color: $white;
      text-decoration: none;
      &:hover {
        background-color: $light-gray;
      }
    }
  }
  #edit-actions {
    margin-top: 12px;
  }
  .select-or-other-other {
    width: 50%;
  }
}
#edit-field-coupons {
  button {
    border-color: transparent;
    background-color: $orange;
    &:hover {
      background-color: $light-gray;
    }
  }
}
#edit-field-collection-hours {
  button {
    border-color: transparent;
    background-color: $orange;
    &:hover {
      background-color: $light-gray;
    }
  }
}
/* end */


/**
 * Responsive design
 */

/* small desktop monitor view */
@media screen and (max-width: 1200px){
  .node-listing-form {
    .form-item-locations-0-province {
      .dropdown {
        width: calc(100% - 315px);
        margin-left: 140px;
      }
    }
  }
}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px){
  .node-listing-form {
    #edit-field-hours {
      select {
        width: 70px;
        margin-right: 05px;
      }
      a {
        padding: 5px 8px;
        background-color: $orange;
        color: $white;
        text-decoration: none;
        &:hover {
          background-color: $light-gray;
        }
      }
    }
    #edit-actions {
      margin-top: 12px;
    }
    .form-item-locations-0-province {
      .dropdown {
        width: calc(100% - 315px);
      }
    }
  }
}

/* i-pad portrait view only */
@media screen and (max-width: 992px){
  .node-listing-form {
    #edit-field-category {
      select {
        width: 100%;
        margin-top: 10px;
      }
    }
    .location {
      .form-item {
        input {
         /* width: 100%;
          max-width: 280px;*/
        }
      }
    }
    #edit-locations-0-province {
     /* width: 100%;
      max-width: 280px;*/
    }
    .panel-collapse {
      select {
       /* width: 100%; */
      }
    }
    #edit-actions {
      display: inline-block;
      width: 100%;
      margin: 30px 0 15px;
    }
    .form-item-locations-0-province {
      .dropdown {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){
  .node-listing-form {
    .form-item-locations-0-province {
      .input-group {
        width: 100%;
        #edit-locations-0-province {
          float: none;
          display: inline-block;
          width: calc(100% - 38px);
        }
      }
      .dropdown {
        width: 100%;
        margin-left: 0;
      }
      .input-group-addon {
        margin-top: -2px;
      }
    }
    .location {
      .form-item {
        label {
          float: none;
          width: 100%;
        }
        input {
          display: inline-block;
          width: 100%;
        }
      }
    }
    .panel-collapse {
      select {
        display: inline-block;
        width: 100%;
      }
    }
  }
}

/* mobile portrait view only */
@media screen and (max-width: 480px){
  .node-listing-form {
    .group-can-tho {
      width: 100%;
      h3 {
        display: none;
      }
      > .form-group {
        width: 100%;
      }
    }
    .group-sang-tiem-nails {
      > .form-group {
        display: inline-block;
        width: 100%;
      }
    }
    .form-item-locations-0-province {
      .input-group-addon {
        margin-top: -2px;
      }
    }
  }
  .tabs--primary {
    li {
      display: inline-block;
      width: 100%;
      margin-right: 0;
      margin-bottom: 8px;
      > li {
        float: none;
      }
    }
  }
}


/* commerce add to cart */
.commerce-add-to-cart {
  button {
    width: auto;
    padding: 20px 22px;
    border: none;
    background-color: $orange;
    font-size: 12px;
    line-height: 0;
    font-weight: bold;
    text-transform: uppercase;
    @include border-radius(0);
    &:hover {
      background-color: $light-gray;
    }
    &:focus {
      background-color: $orange;
    }
  }
}
/* end */

/* cart page */
#views-form-commerce-cart-form-default {
  tbody {
    tr {
      td {
        a {
          color: $light-gray;
          text-decoration: none;
          &:hover {
            color: $blue;
          }
        }
        button {
          width: auto;
          padding: 14px 10px;
          border: none;
          background-color: $orange;
          font-size: 12px;
          line-height: 0;
          font-weight: bold;
          text-transform: uppercase;
          @include border-radius(0);
          &:hover {
            background-color: $light-gray;
          }
          &:focus {
            background-color: $orange;
          }
        }
      }
    }
  }
  .line-item-total {
    padding: 10px;
    background-color: $light-gray;
    color: $white;
  }
}
/* end */

/* checkout page*/
#commerce-checkout-form-checkout {
  input {
    margin-bottom: 15px;
  }
  button {
    float: none;
    height: 40px;
    min-width: 165px;
    width: auto;
    padding: 10px 28px;
    border: none;
    background-color: $orange;
    color: $white;
    font-size: 12px;
    line-height: 0;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    @include border-radius(0);
    &:hover {
      background-color: $light-gray;
      color: $white;
    }
  }
  .button-operator {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .view-commerce-cart-summary {
    table {
      tr {
        td {
          background-color: $gray;
        }
      }
    }
  }
  #addressfield-wrapper {
    .form-group {
      width: 100%;
    }
  }
  .messages {
    margin-bottom: 15px;
    padding: 15px 10px;
  }
  #edit-commerce-coupon {
    button {
      height: 40px;
      padding: 0 28px;
    }
  }
  /*#commerce-checkout-coupon-ajax-wrapper {
    height: 40px;
    padding: 0 28px;
  }*/
}
/* end */


/**
 * Responsive design
 */

/* mobile portrait view only */
@media screen and (max-width: 480px){
  #commerce-checkout-form-checkout {
    .button-operator {
      display: inline-block;
      width: 100%;
      margin: 1px 0;
    }
  }
}


/* review page */
#commerce-checkout-form-review {
  #edit-checkout-review {
    border: 2px solid $dark-gray;
    table {
      tr {
        &.pane-title {
          background-color: $light-gray;
          color: $white;
          td {
            border: none;
          }
        }
        &.pane-data {
          &:hover {
            background-color: transparent;
          }
          td {
            &.pane-data-full {
              table {
                tbody {
                  tr {
                    background-color: $dark-gray;
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #payment-details {
    input {
      width: 54%;
    }
    select {
      float: left;
      width: 24%;
    }
    label {
      float: left;
      width: 100px;
      margin: 10px 15px 0 0;
    }
    span {
      &.commerce-month-year-divider {
        float: left;
        margin: 0 20px;
        font-size: 30px;
      }
    }
  }
  #edit-commerce-payment-payment-method {
    img {
      display: inline-block;
    }
    .commerce-paypal-icons {
      margin-top: 15px;
      > span {
        display: none;
      }
      img {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
    .radio {
      margin-top: 25px;
    }
  }
  #edit-buttons {
    &.checkout-buttons {
      button {
        height: 40px;
        background-color: $orange;
        color: $white;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $light-gray;
        }
      }
    }
    span {
      &.button-operator {
        margin: 0 8px;
        font-size: 20px;
      }
    }
  }
}
#commerce-paypal-wps-redirect-form {
  button {
    margin-top: 10px;
    border: none;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    &:hover {
      background-color: $light-gray;
    }
  }
}


/**
 * Responsive design
 */

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){
  #commerce-checkout-form-review {
    #payment-details {
      span {
        &.commerce-month-year-divider {
          margin: 0 6px;
        }
      }
    }
  }
}

/* mobile portrait view only */
@media screen and (max-width: 480px){
  #commerce-checkout-form-review {
    #edit-buttons {
      span {
        &.button-operator {
          display: inline-block;
          width: 100%;
          margin: 0;
        }
      }
    }
    #payment-details {
      label {
        width: 85px;
        font-size: 11px;
      }
      span {
        &.commerce-month-year-divider {
          margin: 0 6px;
        }
      }
    }
    #edit-commerce-payment-payment-method {
      .radio {
        margin-bottom: 10px;
      }
    }
  }
}

/* User Page Edit */
.page-user-edit {
  #edit-account {
    input {
      height: 34px;
      max-width: 350px;
      width: 100%;
      @include border-radius(0);
    }
  }
  #edit-timezone {
    display: none;
  }
  .help-block {
    max-width: 350px;
    width: 100%;
  }
}
#user-register-form {
  #edit-account {
    input,
    select {
      max-width: 462px;
      width: 100%;
    }
    select {
      padding: 6px 17px 6px 12px;
      background-position: calc(100% - 7px) center;
    }
  }
}
/* User order page */
.entity-commerce-order {
  table.commerce-price-formatted-components {
    .component-type-commerce-price-formatted-amount {
      background-color: $light-gray;
      color: $white;
    }
  }
  .field-name-commerce-customer-billing {
    .field-label {
      padding: 8px;
      background-color: $light-gray;
      color: $white;
    }
    .field-name-commerce-customer-address {
      .field-items {
        margin-left: 7px;
      }
    }
  }
}
.view-commerce-user-orders {
  table {
    thead {
      tr {
        th {
          background-color: $dark-gray;
          a {
            color: $white;
            text-decoration: none;
            img {
              display: inline-block;
              margin-left: 10px;
            }
          }
          &.active {
            background-color: $light-black;
          }
        }

      }
    }
  }
}
