/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS
 */

.footer {
  display: inline-block;
  width: 100%;
  padding-top: 24px;
  background-color: $footer;
  #block-block-1 {
    margin-left: 20px;
    h2 {
      color: $green;
      font-size: 24px;
      font-family: $opensans-bold;
    }
    p {
      color: $light;
      line-height: 24px;
      font-family: $opensans-regular;
    }
  }
  #block-block-4 {
    line-height: 28px;
    text-align: center;
    p {
      color: $white;
      font-size: 11px;
      text-transform: capitalize;
      opacity: .31;
    }
  }
  #block-block-7 {
    line-height: 32px;
    text-align: center;
  }
  #block-menu-menu-footer-menu {
    line-height: 28px;
    text-align: center;
    ul {
      li {
        display: inline-block;
        a {
          padding: 0 10px;
          border-right: 2px solid $dark-gray;
          color: $white;
          font-size: 10px;
          line-height: 14px;
          text-transform: capitalize;
          opacity: .64;
          &:hover {
            background-color: transparent;
            opacity: 1;
          }
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }
  #block-block-3 {
    color: $silver;
    line-height: 28px;
    text-align: center;
    p {
      span {
        margin-right: 5px;
        color: $white;
        font-size: 15px;
        opacity: .64;
      }
    }
    a {
      color: $silver;
      text-decoration: none;
      opacity: .64;
      &:hover {
        color: $white;
        opacity: 1;
      }
    }
  }
  #block-block-2 {
    float: right;
    margin-right: 20px;
    h2 {
      margin-left: 0;
      color: $green;
      font-size: 24px;
      font-family: $opensans-bold;
    }
    .twitter {
      display: inline-block;
      height: 18px;
      width: 20px;
      background-image: url($twitter);
      background-position: center;
      background-repeat: no-repeat;
      text-indent: -9999px;
      &:hover {
        opacity: .5;
      }
    }
    .google {
      display: inline-block;
      height: 18px;
      width: 27px;
      background-image: url($google);
      background-position: center;
      background-repeat: no-repeat;
      text-indent: -9999px;
      &:hover {
        opacity: .5;
      }
    }
    .facebook {
      display: inline-block;
      height: 18px;
      width: 10px;
      background-image: url($facebook1);
      background-position: center;
      background-repeat: no-repeat;
      text-indent: -9999px;
      &:hover {
        opacity: .5;
      }
    }
    a {
      margin-right: 20px;
      font-size: 25px;
    }
  }
}


/**
 * Responsive design
 */

/* small desktop monitor view */
@media screen and (max-width: 1200px){

}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px){

}

/* i-pad portrait view only */
@media screen and (max-width: 992px){
  footer {
    #block-block-3 {
      p {
        font-size: 13px;
      }
    }
  }
}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){
  .footer {
    #block-block-1 {
      margin-bottom: 15px;
      text-align: center;
    }
    #block-block-2 {
      float: none;
      margin: 15px 0 0;
      text-align: center;
    }
  }
}

/* mobile portrait view only */
@media screen and (max-width: 480px){

}
