/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */


/**
 * Header section
 */

header {
  .top-nav {
    display: inline-block;
    width: 100%;
    background-color: $black;
    #block-lang-dropdown-language {
      float: left;
      margin-left: 40px;
      border: none;
      background-color: transparent;
      img {
        float: left;
        height: 12px;
        width: 18px;
        margin-top: 8px;
      }
      select {
        float: left;
        display: inline-block;
        height: auto;
        min-width: 95px;
        width: auto !important;
        padding: 5px 10px;
        border: 0 none;
        background-color: transparent;
        color: $white;
        font-size: 12px;
        font-style: normal;
        font-family: $opensans-bold;
        cursor: pointer;
        @include border-radius(0);
        @include box-shadow(none);
        @include appearance(none);
        option {
          padding-left: 10px;
          background-color: #000;
        }
      }
      .form-control {
        &:focus {
          padding-left: 10px;
          border-color: transparent;
          @include box-shadow(none);
        }
      }
    }
    #block-system-user-menu {
      float: right;
      ul.menu {
        float: right;
        display: inline-block;
        margin: 03px 10px 0 0;
        li {
          display: inline-block;
          &:last-child a {
            border-right: none;
          }
          a {
            padding: 0 05px;
            border-right: 1px solid $white;
            color: $white;
            font-size: 11px;
            line-height: 12px;
            font-family: $opensans-bold;
            text-transform: uppercase;
            &:hover {
              background-color: transparent;
              color: $orange;
            }
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  /* Dropdown menu */
  .manage-header {
    margin-bottom: 20px;
    border-bottom: 3px solid #E1E1E1;
    text-transform: uppercase;
    .navbar-header {
      margin: 17px 75px 0 0;
      .logo {
        margin-left: 40px;
      }
    }
    button {
      &.navbar-toggle {
        background-color: red;
      }
    }
    .navbar-collapse {
      float: left;
      margin: 15px 0;
      text-transform: uppercase;
      nav {
        ul {
          li {
            margin-right: 8px;
            a {
              padding: 10px;
              border: 2px solid transparent;
              color: $light-gray;
              font-size: 17px;
              font-family: $opensans-bold;
              &:hover {
                border: 2px solid $black;
                background-color: transparent;
              }
              &:focus {
                background-color: transparent;
              }
            }
            &.active-trail {
              a {
                border: 2px solid $black;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  #block-block-5 {
    float: right;
    width: 135px !important;
    margin-top: 20px;
    background-color: $orange;
    strong {
      float: left;
      width: 135px;
      color: $white;
      font-size: 15px;
      font-family: $opensans-extrabold;
      text-align: center;
    }
    p {
      color: $white;
      font-size: 13px;
      font-family: $opensans-semibold;
      text-align: center;
    }
    a {
      border-top: 1px solid $white;
      color: $white;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
    }
    &:hover {
      background-color: $light-black;
    }
  }
  #block-block-6 {
    float: right;
    margin: 20px 15px 0 10px;
    background-color: $light-black;
    p {
      a {
        display: inline-block;
        height: 21px;
        width: 21px;
        padding: 20px 28px;
        background-image: url($search1);
        background-position: center;
        background-repeat: no-repeat;
        text-indent: -9999px;
      }
    }
  }
}
/* end */


/**
 *  Responsive designing
 */

/* small desktop monitor view */
@media screen and (max-width: 1200px) {

}

/* i-pad landscape & portrait view */
@media screen and (max-width: 1024px) {
  header {
    .manage-header {
      .navbar-header {
        margin: 17px 15px 0 0;
      }
      .navbar-collapse {
        float: left;
        margin: 15px 0;
        padding-right: 0;
        padding-left: 0;
        text-transform: uppercase;
        nav {
          ul {
            li {
              margin-right: 8px;
              a {
                padding: 8px;
                font-size: 14px;
                &:focus {
                  background-color: transparent;
                }
              }
              &.active-trail {
                a {
                  border: 2px solid $black;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
      #block-block-5 {
        width: 120px !important;
        margin-top: 15px;
        padding: 02px 0;
        strong {
          width: 100%;
          font-size: 13px;
        }
        a {
          padding-top: 02px;
          font-size: 10px;
        }
      }
      #block-block-6 {
        margin-top: 15px;
        p {
          a {
            padding: 20px 24px;
          }
        }
      }
    }
  }
}

/* i-pad portrait view only */
@media screen and (max-width: 992px){

}

/* mobile landscape & portrait view */
@media screen and (max-width: 767px){

}

/* mobile portrait view only */
@media screen and (max-width: 480px){
  header {
    .top-nav {
      #block-lang-dropdown-language {
        margin-left: 18px;
      }
      #block-system-user-menu {
        float: none;
        margin-left: 13px;
        ul.menu {
          float: none;
          margin-bottom: 05px;
        }
      }
    }
    .manage-header {
      .navbar-header {
        .logo {
          margin-left: 18px;
        }
      }
    }
  }
}
