/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */

/* color variable */
$white:           #FFF;
$black:           #000;
$blue:            #0A7CD9;
$red:             #F00;
$skyblue:         #DEF1FE;
$silver:          #E5E5E5;
$light-silver:    #F2EFF1;
$black-dark:      #373737;
$orange:          #F8921C;
$dark-orange:     #FD911D;
$gray:            #E0E0E0;
$light-gray:      #363636;
$dark-gray:       #8D8D8D;
$full-gray:       #E5E5E5;
$gray-footer:     #B6B6B6;
$footer:          #060606;
$green:           #5CB445;
$light:           #D0D0D0;

/* background images variable */
$down-arrow:         '../images/downarrow.png';
$search1:            '../images/search.png';
$downarrow-black:    '../images/downarrow-black.png';
$twitter:            '../images/twitter.png';
$google:             '../images/g+.png';
$facebook1:          '../images/facebook.png';
$phone1:             '../images/phone.png';
$location1:          '../images/lcaotion.png';
$dark-location1:     '../images/dark-location.png';
$slider-prev-arrow:  '../images/arrow.png';
$slider-next-arrow1: '../images/arrow1.png';
$uncheck:            '../images/uncheck.png';
$check:              '../images/check.png';
$watch:              '../images/watch.png';
$edit:               '../images/edit.png';
$radio-check:      '../images/radio-checked.png';
$radio-uncheck:      '../images/radio.png';


/* Mixin - groups of css declarations */
@mixin width($value, $value1) {
  width: -webkit-calc($value - $value1);
  width:    -moz-calc($value - $value1);
  width:         calc($value - $value1);
}
@mixin background-position($value, $value1) {
  background-position: -webkit-calc($value - $value1);
  background-position:    -moz-calc($value - $value1);
  background-position:         calc($value - $value1);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
      -ms-box-shadow: $value;
          box-shadow: $value;
}
@mixin appearance($value) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
      -ms-appearance: $value;
          appearance: $value;
  -webkit-user-select: $value;
     -moz-user-select: $value;
}
