/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */

/* color variable */
$white:           #FFF;
$black:           #000;
$blue:            #0064DD;
$red:             #F00;
$gray:            #E1E1E1;
$gray-f6:         #F6F6F6;
$gray-34:         #343434;
$gray-85:         #858586;
$light-gray:      #4D4D4D;
$light:           #D0D0D0;
$light-black:     #373737;
$skyblue:         #E1F1FE;
$blue-cd:         #008BCD;
$silver:          #E6E6E6;
$light-skyblue:   #F0FAFF;
$light-silver:    #F2EFF1;
$black-dark:      #797979;
$orange:          #F09500;
$dark-orange:     #FD911D;
$dark-gray:       #8D8D8D;
$full-gray:       #E5E5E5;
$gray-footer:     #B6B6B6;
$footer:          #060606;
$green:           #5CB445;
$error:           #F2DEDE;
$maroon:          #BC4942;


/**
 * Font face
 */
$opensans-bold: 'OpenSans Bold';
$opensans-bolditalic: 'OpenSans BoldItalic';
$opensans-extrabold: 'OpenSans ExtraBold';
$opensans-regular: 'OpenSans Regular';
$opensans-semibold: 'OpenSans Semibold';
$opensans-semibolditalic: 'OpenSans SemiboldItalic';
$opensans-italic: 'OpenSans Italic';

/**
 * URLs
 */

/* Openscans */
$url-opensans-bold: url('../fonts/opensans/OpenSans-Bold.woff');
$url-opensans-bolditalic: url('../fonts/opensans/OpenSans-BoldItalic.woff');
$url-opensans-extrabold: url('../fonts/opensans/OpenSans-ExtraBold.woff');
$url-opensans-regular: url('../fonts/opensans/OpenSans-Regular.woff');
$url-opensans-semibold: url('../fonts/opensans/OpenSans-Semibold.woff');
$url-opensans-semibolditalic: url('../fonts/opensans/OpenSans-SemiboldItalic.woff');
$url-opensans-italic: url('../fonts/opensans/OpenSans-Italic.woff');

/* background images variable */
$down-arrow:         '../images/downarrow.png';
$search1:            '../images/search.png';
$downarrow-black:    '../images/downarrow-black.png';
$twitter:            '../images/twitter.png';
$google:             '../images/g+.png';
$facebook1:          '../images/facebook.png';
$dark-phone:         '../images/dark-phone.png';
$phone1:             '../images/phone.png';
$red-phone:          '../images/phone-red.png';
$location1:          '../images/lcaotion.png';
$dark-location1:     '../images/dark-location.png';
$red-location:       '../images/red-location.png';
$slider-prev-arrow:  '../images/arrow.png';
$slider-next-arrow1: '../images/arrow1.png';
$uncheck:            '../images/uncheck.png';
$check:              '../images/check.png';
$watch:              '../images/watch.png';
$red-watch:          '../images/red-watch.png';
$edit:               '../images/edit.png';
$radio-check:        '../images/radio-checked.png';
$radio-uncheck:      '../images/radio.png';
$cross:              '../images/cross.png';
$user:               '../images/user.png';
$star-unflag:        '../images/star-unflag.png';
$star-flag:          '../images/star-flag.png';
$heart:              '../images/heart-icon.png';


/* Mixin - groups of css declarations */
@mixin width($value, $value1) {
  width: -webkit-calc($value - $value1);
  width:    -moz-calc($value - $value1);
  width:         calc($value - $value1);
}
@mixin background-position($value, $value1) {
  background-position: -webkit-calc($value - $value1);
  background-position:    -moz-calc($value - $value1);
  background-position:         calc($value - $value1);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
      -ms-box-shadow: $value;
          box-shadow: $value;
}
@mixin appearance($value) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
      -ms-appearance: $value;
          appearance: $value;
}
@mixin background($value, $value2, $value3, $value4) {
 background: $value;
 background: -moz-linear-gradient(top, $value 0%, $value2 50%, $value3 51%, $value4 100%);
 background: -webkit-linear-gradient(top, $value 0%, $value2 50%, $value3 51%, $value4 100%);
 background: linear-gradient(to bottom, $value 0%, $value2 50%, $value3 51%, $value4 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$value', endColorstr='$value4',GradientType=0);
}

