/**
 * @file for thiming
 */


/**
 * Globle Css
 */
a:focus {
  outline: 0;
}
label {
  margin-bottom: 0;
}


/**
 * Header section
 */
/* Top navigation */
.top-nav {
  background-color: #000;
}
#block-lang-dropdown-language {
  float: left;
  margin-left: 40px;
  background-color: transparent;
  border: none;
}
.form-item-lang-dropdown-select select {
  display: inline-block;
  float: left;
  min-width: 95px;
  width: auto !important;
  height: auto;
  padding: 5px 10px;
  border: 0 none;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  font-size: 11px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.lang_dropdown_form img {
  float: left;
  margin-top: 10px;
}
.region .region-top-nav img {
  float: left;
}
.form-item-lang-dropdown-select .form-control:focus {
  padding-left: 10px;
  border-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.form-item-lang-dropdown-select .form-control option {
  padding-left: 10px;
  background-color: transparent;
}
#block-system-user-menu ul.menu {
  display: inline-block;
  float: right;
  margin-top: 03px;
}
#block-system-user-menu ul.menu li {
  display: inline-block;
}
#block-system-user-menu ul.menu li a {
  padding: 0 05px 0 05px;
  color: #FFF;
  border-right: 1px solid #FFF;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: arial;
}
#block-system-user-menu ul.menu li:last-child a {
  border-right: none; 
}
#block-system-user-menu ul.menu li a:hover {
  background-color: transparent;
  color: rgb(248, 146, 28);
}
.navbar-header {
  margin: 12px 100px 0 0;
}
.navbar-header .logo {
  margin-left: 40px;
}
/* end Top navigation */

/* Dropdown menu */
.navbar-collapse {
  border-bottom: 3px solid #E0E0E0;
  margin-bottom: 20px;
}
#block-superfish-1 {
  float: left;
}
#block-superfish-1 ul li  {
  margin: 0 0;
  padding: 20px;
}
#block-superfish-1 ul.menu > li .sf-depth-1 {
  padding: 10px 25px 10px 10px;
  font-weight: bold;
  border: 2px solid transparent;
  color: #000;
}
#block-superfish-1 ul.menu > li .sf-sub-indicator {
  display: inline-block;
  height: 7px;
  width: 10px;
  margin: 3px 0 0;
  padding-left: 3px;
  background-image: url('../images/downarrow.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#block-superfish-1 ul.menu > li:hover .sf-depth-1 {
  border: 2px solid #000;
  font-weight: bold;
}
#block-superfish-1 ul.menu > li.active-trail .sf-depth-1 {
  border: 2px solid #000;
}
#block-superfish-1  ul.menu > li:hover ul {
  margin: 28px 0 0 20px;
  padding-left: 0 !important;
  background: transparent;
  background-color: #8D8D8D;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: 2px solid #000;
}
.sf-menu.sf-horizontal.sf-shadow ul {
  padding: 0 !important;
  border: none;
}
#block-superfish-1 ul.menu li:hover ul li {
  padding: 0;
  margin: 0;
}
#block-superfish-1 ul.menu > li a {
  padding: 10px;
  text-decoration: none;
  color: #FFF;
}
#block-superfish-1 ul.menu > li ul li:hover a {
  color: #FFF;
  background-color: #363636;
}
#block-superfish-1 ul.menu li ul li.active-trail a {
  background-color: #373737;
}
#block-block-5 {
  float: right;
  margin-top: 20px;
  width: 135px !important;
  background-color: rgb(248, 146, 28);
}
#block-block-5 strong {
  float: left;
  width: 135px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#block-block-5 p {
  text-align: center;
}
#block-block-5 a {
  padding-top: 03px; 
  color: #FFF;
  text-decoration: none;
  border-top: 1px solid #FFF;
  font-size: 12px;
  font-weight: bold;
}
#block-block-5:hover {
  background-color: #373737;
}
#block-block-6 {
  float: right;
  margin: 20px 0 0 10px;
  background-color: rgb(57, 57, 57);
}
#block-block-6 p a {
  display: inline-block;
  padding: 20px 28px;
  width: 21px;
  height: 21px;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
/* End Dropdown menu */
/* end Header section */


/**
 *  Content section
 */
.container .jumbotron, .container-fluid .jumbotron {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.featured-listing h2,
h1 {
  margin-top: 0;
  padding: 10px 0 10px 20px;
  background-color: rgb(55, 55, 55);
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}
#main-content .page-header {
  margin-top: 20px !important;
}
.views-row .main-sub-right-top-title {
  display: inline-block;
  line-height: 0;
}
.views-row .main-sub-right-top-title label[for=title] {
  color: #373737;
  font-size: 14px;
}
.views-row .main-sub-right-top-title a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 19px;
}
.views-row .main-sub-right-top {
  display: inline-block;
  padding-bottom: 6px;
  border-bottom: 1px solid #CBCBCB;
  width: calc(100% - 170px);
}
.views-row img {
  margin: 0 15px 0 0;
  float: left;
}
.views-row {
  margin-top: 10px 0;
  border: 1px solid #B1B1B1;
  box-shadow: 0 02px 0 #B1B1B1;
}
.views-row .main-sub-top {
  padding: 10px;
}
.views-row .main-sub-right-top .main-sub-right-top-save {
  float: right;
  padding: 03px 10px;
  border: 1px solid #000;
  color: rgb(0, 112, 216);
  font-weight: bold;
}
.views-row .main-sub-right-top .main-sub-right-top-save a {
  text-decoration: none;
  color: #3B87E1;
}
.views-row .main-sub-right-top .main-sub-right-top-save a:hover {
  color: #8D8D8D;
}
.views-row .main-sub-right-bottom-left {
  display: inline-block;
  margin-top: 4px;
  font-size: 12px;
}
.views-row .main-sub-right-bottom-left label {
  font-weight: normal;
}
.views-row .main-sub-right-bottom-right {
  float: right;
  margin: 4px 30px 0 0;
  font-size: 12px;
  color: #333;
}
.views-row .main-sub-right-bottom-right label[for=contact_name] {
  font-weight: bold;
  color: #000;
}
.views-row .main-sub-right-bottom-right label {
  color: #333;
  font-weight: normal;
}
.main-sub-right-bottom-left .category {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.views-row .main-sub-bottom p {
  padding: 5px 8px;
  background-color: rgb(222, 241, 254);
  border-top: 1px solid rgb(177, 177, 177);
  font-size: 12px;
  font-style: italic;
}
.views-row {
  margin-top: 10px;
}
.page-header{
  margin: 10px 0 0 0;
}
/* End Content section */

/* Filter section */
.region-primary-first {
  background-color: #E5E5E5;
  padding: 10px 20px;
}
#block-block-8 {
  padding-bottom: 8px;
  margin-bottom: 15px; 
  font-size: 20px;
  color: rgb(3, 3, 3);
  border-bottom: 2px solid rgb(175, 175, 175);
  text-transform: uppercase;
  font-size: 14px;
}
#block-block-8 .filter {
  display: inline-block;
  margin-right: 16px;
}
#block-block-8 .user-region {
  display: inline-block;
  color: #FB8E1E;
  font-weight: bold;
}
#quicktabs-search  ul.quicktabs-tabs {
  margin: 0;
  padding: 0;
}
#quicktabs-search  ul.quicktabs-tabs .active  a  {
  padding: 10px;
  background-color: rgb(54, 54, 54);
  color: #FFF;
  font-weight: bold;
  font-size: 10px;
}
#quicktabs-search  ul.quicktabs-tabs .active  a:hover {
  background-color: rgb(54, 54, 54);
}
#quicktabs-search  ul.quicktabs-tabs  a {
  display: inline-block;
  padding: 10px;
  background-color: rgb(141, 141, 141);
  color: #FFF;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
}
#quicktabs-search  ul.quicktabs-tabs  a:hover {
  background-color: #363636;
}
#quicktabs-search  ul.quicktabs-tabs li {
  margin-right: -6px;
}
#quicktabs-container-search {
  margin-top: 16px;
}
.views-submit-button button {
  padding: 20px 28px;
  width: auto;
  height: 42px;
  background-color: rgb(248, 146, 28);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: none;
  line-height: 0; 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
#edit-city-wrapper {
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(175, 175, 175);
}
.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
}
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 10px;
}
.views-submit-button button:hover {
  background-color: rgb(55, 55, 55);
}
.views-submit-button {
  display: inline-block;
}
.views-reset-button {
  display: inline-block;
  margin-top: 18px;
  padding: 0;
}
.views-reset-button .btn-default {
  background-color: transparent;
  border: none;
  line-height: 0;
}
.views-reset-button .btn-default:focus {
  background-color: transparent;
  border: none;
}
.views-reset-button .btn-default:hover {
  color: #4AB445;
}
.views-exposed-widgets select {
  height: 40px;
  margin-bottom: 16px !important;
}
.views-exposed-widgets select {
  background-image: url('../images/downarrow-black.png');
  background-repeat: no-repeat;
  color: #585858;
  border:0;
  -webkit-background-position: calc(100% - 14px);
     -moz-background-position: calc(100% - 14px);
          background-position: calc(100% - 14px);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-style: italic;
}
.views-exposed-widgets select:focus {
  margin: 0;
  border:0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#edit-city {
  height: 40px;
  color: #585858;
  border:0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-style: italic;
}
/* end */


/**
 * Footer section
 */

/* footer main */
.footer {
  display: inline-block;
  width: 100%;
  background-color: rgb(6, 6, 6);
  padding-top: 24px;
}
/* end footer main */

/* footer first */
#block-block-1 {
  margin-left: 20px;
}
#block-block-1 h2 {
  color: rgb(92,180,69);
  font-weight: bold;
  font-size: 24px;
}
#block-block-1 p {
  color: rgb(194,194,194);
}
/* end */

/* footer second */
#block-block-4 {
  text-align: center;
}
#block-block-7 {
  margin-bottom: 8px;
  text-align: center;
}
#block-menu-menu-footer-menu {
  text-align: center;
}
#block-menu-menu-footer-menu ul {
  margin: 5px 0;
}
#block-menu-menu-footer-menu ul li {
  display: inline-block;
}
#block-menu-menu-footer-menu ul li a {
  padding: 0 10px;
  color: rgb(143,143,143);
  line-height: 10px;
  border-right: 1px solid rgb(126,126,126);
  font-size: 12px;
  text-transform: capitalize;
}
#block-menu-menu-footer-menu ul li a:hover {
  background-color: transparent;
  color: #4AB445;
}
#block-menu-menu-footer-menu ul li:last-child a {
  border-right: none;
}
#block-block-3 {
  margin: 5px 0;
  text-align: center;
  color: #ACACAC;
}
#block-block-3 a {
  color: #ACACAC;
  text-decoration: none;
}
#block-block-3 a:hover {
  color: #4AB445;
}

/* footer third */
#block-block-2 {
  float: right;
  margin-right: 20px;
}
#block-block-2 h2 {
  margin-left: 70px;
  color: rgb(92,180,69);
  font-weight: bold;
  font-size: 24px;
}
#block-block-2 p {
  margin-left: 70px;
}
#block-block-2 .twitter {
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: url("../images/twitter.png");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
#block-block-2 .twitter:hover {
  opacity: 0.5;
}
#block-block-2 .google {
  display: inline-block;
  width: 27px;
  height: 18px;
  background-image: url("../images/g+.png");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
#block-block-2 .google:hover {
  opacity: 0.5;
}
#block-block-2 .facebook {
  display: inline-block;
  width: 10px;
  height: 18px;
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
#block-block-2 .facebook:hover {
  opacity: 0.5;
}
#block-block-2 a {
  margin-right:20px;
  font-size: 25px;
}
/* end */ 
/* end Footer section */


/**
 * User register page css
 */

 /* login */
 .tabs--primary {
  width: 100%;
  margin-top: 12px;
  border-bottom: none;
  text-align: center;
 }
.tabs--primary li.active {
  background-color: #363636;
  border:0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.tabs--primary li > a {
  margin-right: 0;
}
.tabs--primary li {
  margin-right: 3px;
}
.tabs--primary li a {
  background-color: #8D8D8D;
  color: #FFF;
  border:0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: bold;
}
.tabs--primary li a:hover {
  background-color: #363636;
  color: #FFF;
  border:0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: bold;
}
.tabs--primary li a:focus {
  background-color: #8D8D8D;
  color: #FFF;
  border:0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: bold;
}
.tabs--primary li.active > a {
  background-color: #363636;
  color: #FFF;
  font-weight: bold; 
  border-width: 0;
}
.tabs--primary li.active > a:hover {
  border-width: 0;
  background-color: #363636;
  color: #FFF;
  font-weight: bold;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.tabs--primary li.active > a:focus
 {
  border-width: 0;
  background-color: #363636;
  color: #FFF;
  font-weight: bold;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
#edit-actions button {
  width: auto;
  height: 42px;
  background-color: rgb(248, 146, 28);
  color: #FFF;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: none;
  font-weight: bold;
}
#edit-actions button:hover {
  background-color: rgb(55, 55, 55);
}
#edit-name,
#edit-pass,
#edit-mail {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
/* end */


/**
 *  Inner page
 */

/* Address */
.node-type-listing .views-row {
  margin-top: 0;
  border: none;
  box-shadow: none;
}
.node-type-listing h1 {
  display: none;
}
.node-type-listing .view .view-common-field-listing {
  background-color: #DEF1FE;
}
.node-type-listing .region-content {
  padding-bottom: 50px;
  border: 1px solid #EBEBEB;
  border-bottom: 3px solid #D6D6D6;
}
.node-type-listing .innerpage-heading {
  width: 100%;
  padding: 9px 15px;
  background-color: #373737;
  color: #FFF;
}
.node-type-listing .innerpage-heading .views-field-title {
  float: left;
}
.node-type-listing .innerpage-heading .views-field-title a {
  text-decoration: none;
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
}
.node-type-listing .innerpage-heading .views-field-created {
  display: inline-block;
  color: #DADADA;
  float: right;
  font-size: 16px;
  line-height: 0;
  margin-top: 14px;
  font-weight: bold;
}
.node-type-listing .common-detail {
  margin: 15px;
  padding: 15px 0 35px 15px;
  background-color: #DEF1FE;
  border: 1px solid #E5E5E5;
}
.node-type-listing .views-field-nothing {
  text-align: center;
}
.node-type-listing .views-field-body p {
  color: #83898D;
  font-style: italic;
  font-size: 14px;
}
.node-type-listing .views-field-nothing  {
  padding-top: 20px;
  margin: 20px auto 0 auto;
  border-top: 1px solid #C9CCCB;
  width: calc(100% - 275px);
}
.node-type-listing .views-field-nothing .contact-name {
  display: inline-block;
  width: 100%;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.node-type-listing .views-field-nothing .contact-name .name {
  display: inline-block;
  margin-left: 12px;
}
.node-type-listing .views-field-nothing .alternative-phone {
  display: inline-block;
  margin-top: 12px;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.node-type-listing .views-field-nothing .alternative-phone .phone {
  padding: 10px 36px;
  text-align: center;
  display: inline-block;
  background-color: #F8921C;
  background-image: url("../images/phone.png");
  background-repeat: no-repeat;
  background-position: 13px 10px;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}
.node-type-listing .views-field-nothing .alternative-phone span {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  font-size: 18px;
}
.node-type-listing .views-field-nothing .alternative-phone .alternate-phone {
  padding: 10px 36px;
  display: inline-block;
  text-align: center;
  background-color: #F8921C;
  background-image: url("../images/phone.png");
  background-repeat: no-repeat;
  background-position: 13px 10px;
  color: #000;
  font-weight: bold;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}
.node-type-listing .views-field-nothing .full-address {
  display: inline-block;
  padding-left: 35px;
  float: left;
  margin-top: 15px;
  font-size: 18px;
  background-image: url("../images/lcaotion.png");
  background-repeat: no-repeat;
  background-position: 0 08px;
  background-size: 17px 30px;
  color: #020104;
  text-transform: capitalize;
  text-align: left;
}
.node-type-listing .views-field-nothing .address .street-address {
  display: inline-block;
}
.node-type-listing .views-field-nothing .address .country-name {
  display: inline-block;
}
.node-type-listing .views-field-nothing  a {
  float: left;
  text-decoration: none;
  color: #2B62E0;
  font-weight: bold;
  font-size: 17px;
}
.node-type-listing .views-field-nothing  a:hover {
  color: #333;
}
#block-views-common-field-listing-block-1 {
  margin: 20px 0 25px 0;
}
#block-views-common-field-listing-block-1 .views-row .field-content {
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
#block-views-common-field-listing-block-1 .views-row .views-label {
  display: inline-block;
  margin-right: 12px;
  width: 18%;
  text-align: right;
  font-size: 14px;
  line-height: 25px;
}
.bxslider-ths-field_image-processed {
  margin: 20px;
  padding: 3px 0 3px 6px;
  border: 1px solid #D6D6D6;
}
.bx-controls-direction .bx-prev {
  width: 34px;
  height: 34px;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 0;
  content: "";
}
.bx-wrapper .bx-controls-direction a {
  width: 34px;
  height: 34px;
  opacity: 0.7;
}
.bx-controls-direction .bx-next {
  width: 34px;
  height: 34px;
  background-image: url("../images/arrow1.png");
  background-repeat: no-repeat;
  background-position: 0;
  content: "";
}
.bx-wrapper .bx-controls-direction a:hover {
  width: 34px;
  height: 34px;
  background-position: 0;
}
.bxslider-ths li img {
  opacity: 1;
  padding-right: 5px;
}
/* end */

/* email to seller section */
#block-webform-client-block-17 {
  padding: 15px 60px 15px 22px;
  background-color: #373737;
  border-bottom: 4px solid #D6D6D6;
}
#block-webform-client-block-17 .block-title {
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#block-webform-client-block-17 h2 {
  margin-top: 0;
}
#edit-submitted-accept label {
  color: #909090;
  padding-left: 0;
}
#webform-client-form-17 {
  width: 100%;
}
#webform-client-form-17 #edit-submitted-first-name,
#edit-submitted-last-name {
  float: left;
  width: 32%;
  margin-right: 15px;
  font-size: 13px;
}
#webform-client-form-17 #edit-submitted-email {
  float: left;
  width: 32%;
  margin-right: 0;
  font-size: 13px;
}
#webform-client-form-17 #edit-submitted-enter-your-message-text {
  padding-top: 10px;
  height: auto;
  width: 66%;
  margin-top: 13px;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  -webkit-border-radius:0;
     -moz-border-radius:0;
          border-radius:0;
}
#webform-client-form-17 #edit-submitted-seller-email {
  display: none;
}
#webform-client-form-17 input {
  -webkit-border-radius:0;
     -moz-border-radius:0;
          border-radius:0;
  color: #808080;
  font-style: italic;
}
#block-webform-client-block-17 .form-actions {
  clear: none;
  float: right;
}
#block-webform-client-block-17 .form-actions button {
  padding: 20px 28px;
  width: auto;
  height: 42px;
  background-color: rgb(248, 146, 28);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #FFF;
  border: none;
  line-height: 0; 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
#block-webform-client-block-17 .grippie {
  display: none;
}
#block-webform-client-block-17 .form-actions button:hover {
  background-color: #5CB445;
}
#block-webform-client-block-17 .webform-component-checkboxes {
  float: left;
  margin: 0;
  margin-left: 0;
  color: #838383;
}
.input-rc {
  display: inline-block;
}
.input-rc input[type='checkbox'] {
  display: none;
  opacity: 0;
}
.input-rc input[type='checkbox'] + .input-rc-span {
  float: left;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 10px -2px 0;
  background-image: url('../images/uncheck.png');
  background-repeat: no-repeat;
  cursor: pointer;
  content: '';
  -webkit-border-radius: 0 3px 3px 3px;
     -moz-border-radius: 0 3px 3px 3px;
          border-radius: 0 3px 3px 3px;
}
.input-rc input[type='checkbox']:checked + .input-rc-span {
  background-image: url('../images/check.png');
  background-repeat: no-repeat;
}
/**
 * Responsive Designing
 */

 /* --- small desktop monitor view --------------------------------------------------------------- */
@media screen and (max-width: 1200px){
  .views-row .main-sub-right-bottom-left {
    font-size: 10px;
  }
  .views-row .main-sub-right-bottom-right {
    font-size: 10px;
  }
}

/* --- i-pad landscape & portrait view ---------------------------------------------------------- */
@media screen and (max-width: 1024px){
  
}

/* --- i-pad portrait view only ----------------------------------------------------------------- */
@media screen and (max-width: 992px){
  
}

/* --- mobile landscape & portrait view --------------------------------------------------------- */
@media screen and (max-width: 767px){
  
}

/* --- mobile portrait view only ---------------------------------------------------------------- */
@media screen and (max-width: 480px){
  
}
